<div ng-controller="MainCtrl" class="admin">

    <!--LOADINGSCREEN-->
    <div class="loadscreen" ng-hide="init.load.loaded">
        <div class="logo" style="position: relative; margin: 3em auto;"></div>
        <div class="progress">
            <div class="buffer"
                 style="width: {{init.load.percent}}%"></div><br>
            <span>{{init.load.status}}</span>
        </div>
    </div>

    <!--BLOCKING LOAD SCREEN WITHOUT PROGRESS BAR-->

    <!--This is for use when something has to load and all
    interaction with the page should be disabled while loading.
    This is currently enabled for all modifying requests, as
    it may corrupt the database to interact with the website
    while modifying requests are being sent. -->

    <div class="loadscreen" ng-show="api_queue.status == api_queue.STATUS_MODIFYING">
        <div class="logo" style="position: relative; margin: 3em auto;"></div>
        <div style="position: relative; margin: 3em auto; width: 50px">
            <img ng-src="fallback_images/gif/load.gif">
        </div>
    </div>

    <!--HEADER - MUST DUPLICATE IN NAVIGATOR > SUB-HEADER -->
    <header>
        <div class="page-positioning">
            <div class="wrapper">
                <a ng-href="./" class="logo"></a>
                <div class="search">
                    <form ng-submit="go('/search/'+bmm.term);">
                        <input ng-model="bmm.term"
                               type="text"
                               placeholder="{{init.translation.general.search}}">
                        <input type="submit" value="">
                    </form>
                </div>
                <ul class="menu">
                    <li>
                        <a ng-class="{ active: isActive('/dashboard')}" ng-href="dashboard">
                            {{init.translation.menu.main.dashboard}}
                        </a>
                    </li>
                    <li ng-show="userIs('ROLE_TRACK_MANAGER')">
                        <a ng-class="{ active: isActive('/waitings')}" ng-href="waitings">
                            {{init.translation.menu.main.waitings}}
                        </a>
                    </li>
                    <li ng-show="userIs('ROLE_CONTRIBUTOR_MANAGER')">
                        <a ng-class="{ active: isActive('/contributors')}" ng-href="contributors">
                            {{init.translation.menu.main.contributors}}
                        </a>
                    </li>
                    <li ng-show="userIs('ROLE_PODCAST_MANAGER')">
                        <a ng-class="{ active: isActive('/podcasts')}" ng-href="podcasts">
                            {{init.translation.menu.main.podcasts}}
                        </a>
                    </li>
                    <li ng-show="userIs('ROLE_NOTIFICATION_MANAGER')">
                        <a ng-class="{ active: isActive('/notifications')}" ng-href="notifications">
                            {{init.translation.menu.main.notifications}}
                        </a>
                    </li>
                    <li ng-show="userIs('ROLE_ADMINISTRATOR')">
                        <a ng-class="{ active: isActive('/users')}" ng-href="users">
                            {{init.translation.menu.main.users}}
                        </a>
                    </li>
                    <li ng-hide="true">
                        <a ng-class="{ active: isActive('/wizard')}" ng-href="wizard">
                            Wizard (Demo)
                        </a>
                    </li>
                    <li ng-show="userIs('ROLE_ADMINISTRATOR')">
                        <a ng-class="{ active: isActive('/statistic')}" ng-href="statistic">
                            {{init.translation.menu.main.statistic}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <!--VIEWER-->
    <div class="page-positioning" style="z-index: 4">
        <div ng-view class="frontend" ng-class="{'visible': visible}"></div>
    </div>

    <!--PLAYER-->
    <div player ng-show="player.id">

        <div class="videoscreen" ng-show="player.showVideo">
            <div class="page-positioning">
                <div class="videoClose"
                     ng-click="player.showVideo=false"
                     ng-hide="player.video&&!player.showVideo"></div>

                <div class="display">
                    <div class="fullscreen-toggle"></div>
                    <div class="video-target">
                        <div style="position: absolute;
                                    bottom: 0;
                                    width: 100%;
                                    height: 5em;
                                    background: red;"></div>
                    </div>
                </div>
            </div>

        </div>

        <div class="page-positioning">

            <div class="videoOpen"
                 ng-click="player.showVideo=true"
                 ng-show="player.video&&!player.showVideo"></div>

            <div class="scroller">
                <span><b>{{player.title}}</b> {{player.subtitle}} {{player.extraTitle | _languageCode}} </span>
            </div>

            <div class="about">
                <img ng-src="{{player.cover | _cover:'song'}}"/>
                <h3>{{player.title}}</h3>
                <div>{{player.subtitle}}</div>
                <div>{{player.language | _languageCode}}</div>
            </div>

            <div class="volumeControllers">

                <div class="mute"
                     ng-class="{'active': player.muted}"
                     ng-click="player.setMute();"
                     ng-hide="init.isIOS"></div>
                <div class="max"
                     ng-click="player.setVolume(1);"
                     ng-hide="init.isIOS"></div>
                <div class="volume" ng-hide="init.isIOS"></div>

            </div>

            <div class="mainControllers">

                <div class="current">{{player.currentTime | _time}}</div>
                <div class="remaining">{{(player.getDuration()-player.currentTime) | _time}}</div>

                <div class="centered">
                    <div class="shuffle"
                         ng-class="{'active': playlist.shuffle}"
                         ng-click="playlist.setShuffle();"></div>
                    <div class="previous" ng-click="player.setPrevious();"></div>
                    <div class="play"
                         ng-class="{'pause': player.playing}"
                         ng-click="player.togglePlay();"></div>
                    <div class="next" ng-click="player.setNext();"></div>
                    <div class="repeat"
                         ng-class="{'active': playlist.repeat}"
                         ng-click="playlist.setRepeat();"></div>

                </div>

                <div class="slider"><div class="target"></div></div>

            </div>

        </div>
    </div>

    <!--NAVIGATOR-->
    <div class="page-positioning" style="z-index: 4;">

        <div ng-click="visible=!visible;"
             class="nav-toggle"
             ng-class="{'fixedSmall':fixedSmall, 'fixed': fixed, 'absolute': absolute, 'visible': visible}"
                ></div>

        <div navigator ng-class="{'fixedSmall':fixedSmall, 'fixed': fixed, 'absolute': absolute, 'visible': visible}">

            <!--SUB-HEADER-->
            <div class="sub-header" ng-class="{'visible': fixed}">
                <a ng-href="" class="logo"></a>
                <div class="search">
                    <form ng-submit="go('/search/'+bmm.term); visible=false;">
                        <div><input ng-model="bmm.term"
                                    type="text"
                                    placeholder="{{init.translation.general.search}}"></div>
                        <input type="submit" value="">
                    </form>
                </div>
                <ul class="menu">
                    <li>
                        <a ng-class="{ active: isActive('/dashboard')}" ng-href="#dashboard">
                            {{init.translation.s.main.waitings}}
                        </a>
                    </li>
                    <li>
                        <a ng-class="{ active: isActive('/contributors')}" ng-href="#contributors">
                            {{init.translation.menu.main.contributors}}
                        </a>
                    </li>
                    <li>
                        <a ng-class="{ active: isActive('/users')}" ng-href="#users">
                            {{init.translation.menu.main.users}}
                        </a>
                    </li>
                    <li>
                        <a ng-class="{ active: isActive('/wizard')}" ng-href="#wizard">
                            Wizard (Beta)
                        </a>
                    </li>
                </ul>
            </div>

            <!--QUICK MENU -->
            <div ng-show="userIs('ROLE_CONTRIBUTOR_MANAGER') && userIs('ROLE_TRACK_MANAGER') && userIs('ROLE_ALBUM_MANAGER')">
                <h2>{{init.translation.menu.secondary.quickMenu}}</h2>
                <div class="quick-menu">
                    <button ng-click="go('/album/new')">{{init.translation.menu.secondary.newAlbum}}</button>
                    <button ng-click="go('/track/new')">{{init.translation.menu.secondary.newTrack}}</button><br><br>

                    <span>{{init.translation.menu.secondary.year}}</span>
                    <select ng-change="quickMenu.findAlbums(quickMenu.year);"
                            ng-model="quickMenu.year"
                            ng-options="year for year in quickMenu.years">
                    </select><br><br>

                    <div ng-hide="quickMenu.albums.length<=0" style="margin: 0">
                        <span>{{init.translation.menu.secondary.album}}</span>
                        <select ng-change="go('/album/'+quickMenu.album.id);"
                                ng-model="quickMenu.album"
                                ng-options="album.title for album in quickMenu.albums">
                        </select>
                        <button ng-click="go('/album/'+quickMenu.album.id+'/album');">
                            {{init.translation.menu.secondary.newAlbum}}
                        </button>
                        <button ng-click="go('/album/'+quickMenu.album.id+'/track');">
                            {{init.translation.menu.secondary.newTrack}}
                        </button>
                        <button ng-click="go('/album/'+quickMenu.album.id);">
                            {{init.translation.menu.secondary.open}}
                        </button>
                        <button ng-click="go('/album/'+quickMenu.album.id+'/recording-list');">
                            {{init.translation.menu.secondary.recordingList}}
                        </button><br><br>
                    </div>

                    <div ng-hide="quickMenu.tracks.length<=0" style="margin: 0">
                        <span>{{init.translation.menu.secondary.tracks}}</span>
                        <div class="track"
                             ng-repeat="track in quickMenu.tracks"
                             ng-click="go('/track/'+track.id);">
                            {{track.combinedTitle}}
                            <span class="order">{{track.raw.order}}</span>
                        </div><br><br>
                    </div>

                    <div ng-hide="quickMenu.childAlbums.length<=0" style="margin: 0">
                        <span>{{init.translation.menu.secondary.childAlbums}}</span>
                        <select ng-change="go('/album/'+quickMenu.albumChild.id);"
                                ng-model="quickMenu.albumChild"
                                ng-options="childAlbum.title for childAlbum in quickMenu.childAlbums">
                        </select>
                        <button ng-click="go('/album/'+quickMenu.albumChild.id+'/track');">
                            {{init.translation.menu.secondary.newTrack}}
                        </button>
                        <button ng-click="go('/album/'+quickMenu.albumChild.id);">
                            {{init.translation.menu.secondary.open}}
                        </button>
                        <button ng-click="go('/album/'+quickMenu.album.id+'/recording-list');">
                            {{init.translation.menu.secondary.recordingList}}
                        </button><br><br>
                    </div>

                    <div ng-hide="quickMenu.childTracks.length<=0" style="margin: 0">
                        <span>{{init.translation.menu.secondary.childTracks}}</span>
                        <div class="track"
                                ng-repeat="childTrack in quickMenu.childTracks"
                                ng-click="go('/track/'+childTrack.id);">
                            {{childTrack.combinedTitle}}
                            <span class="order">{{childTrack.raw.order}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>