<div ng-controller="MainCtrl" class="admin">

    <!--LOADINGSCREEN-->
    <div class="loadscreen" ng-hide="load.loaded">
        <div class="logo"></div>
        <div class="progress">
            <div class="buffer"
                 style="width: {{load.percent}}%"></div><br>
            <span>{{load.status}}</span>
        </div>
    </div>

    <!--HEADER - MUST DUBLICATE IN NAVIGATOR > SUB-HEADER -->
    <header>
        <div class="page-positioning">
            <a ng-href="#" class="logo"></a>
            <div class="search">
                <form ng-submit="go('/search/'+bmm.term);">
                    <input ng-model="bmm.term"
                           type="text"
                           placeholder="{{translation.general.search}}">
                    <input type="submit" value="">
                </form>
            </div>
            <ul class="menu">
                <li><a ng-href="#dashboard">{{translation.menu.main.dashboard}}</a></li>
                <li><a ng-href="#waitings">{{translation.menu.main.waitings}}</a></li>
                <li><a ng-href="#contributors">{{translation.menu.main.contributors}}</a></li>
                <li><a ng-href="#users">{{translation.menu.main.users}}</a></li>
            </ul>
        </div>
    </header>

    <!--VIEWER-->
    <div class="page-positioning">
        <div ng-view class="frontend" ng-class="{'visible': visible}"></div>
    </div>

    <!--PLAYER-->
    <div player>

        <div class="videoscreen" ng-show="player.showVideo">
            <div class="page-positioning">
                <div class="videoClose"
                     ng-click="player.showVideo=false"
                     ng-hide="player.video&&!player.showVideo"></div>

                <div class="display">
                    <div class="fullscreen-toggle"></div>
                    <div class="video-target">
                        <div style="position: absolute;
                                    bottom: 0;
                                    width: 100%;
                                    height: 5em;
                                    background: red;"></div>
                    </div>
                </div>
            </div>

        </div>

        <div class="page-positioning">

            <div class="videoOpen"
                 ng-click="player.showVideo=true"
                 ng-show="player.video&&!player.showVideo"></div>

            <div class="scroller">
                <span><b>{{player.title}}</b> {{player.subtitle}} {{player.extraTitle | bmmLanguage}} </span>
            </div>

            <div class="about">
                <img ng-src="{{player.cover | bmmCover:'song'}}"/>
                <h3>{{player.title}}</h3>
                <div>{{player.subtitle}}</div>
                <div>{{player.language | bmmLanguage}}</div>
            </div>

            <div class="volumeControllers">

                <div class="mute"
                     ng-class="{'active': player.muted}"
                     ng-click="player.setMute();"
                     ng-hide="ios"></div>
                <div class="max"
                     ng-click="player.setVolume(1);"
                     ng-hide="ios"></div>
                <div class="volume" ng-hide="ios"></div>

            </div>

            <div class="mainControllers">

                <div class="current">{{player.currentTime | bmmTime}}</div>
                <div class="remaining">{{(player.getDuration()-player.currentTime) | bmmTime}}</div>

                <div class="centered">
                    <div class="shuffle"
                         ng-class="{'active': playlist.shuffle}"
                         ng-click="playlist.setShuffle();"></div>
                    <div class="previous" ng-click="player.setPrevious();"></div>
                    <div class="play"
                         ng-class="{'pause': player.playing}"
                         ng-click="togglePlay();"></div>
                    <div class="next" ng-click="player.setNext();"></div>
                    <div class="repeat"
                         ng-class="{'active': playlist.repeat}"
                         ng-click="playlist.setRepeat();"></div>

                </div>

                <!--div class="current">{{player.currentTime | bmmTime}}</div>
                <div class="remaining">{{(player.getDuration()-player.currentTime) | bmmTime}}</div-->
                <div class="slider"><div class="target"></div></div>

            </div>

            <div>

            </div>

        </div>
    </div>

    <!--NAVIGATOR-->
    <div class="page-positioning">

        <div ng-click="visible=!visible;"
             class="nav-toggle"
             ng-class="{'fixedSmall':fixedSmall, 'fixed': fixed, 'absolute': absolute, 'visible': visible}"
                ></div>

        <div navigator ng-class="{'fixedSmall':fixedSmall, 'fixed': fixed, 'absolute': absolute, 'visible': visible}">

            <!--SUB-HEADER-->
            <div class="sub-header" ng-class="{'visible': fixed}">
                <a ng-href="#" class="logo"></a>
                <div class="search">
                    <form ng-submit="go('/search/'+bmm.term); visible=false;">
                        <div><input ng-model="bmm.term"
                                    type="text"
                                    placeholder="{{translation.general.search}}"></div>
                        <input type="submit" value="">
                    </form>
                </div>
                <ul class="menu">
                    <li><a ng-href="#dashboard">{{translation.menu.main.dashboard}}</a></li>
                    <li><a ng-href="#waitings">{{translation.menu.main.waitings}}</a></li>
                    <li><a ng-href="#contributors">{{translation.menu.main.contributors}}</a></li>
                    <li><a ng-href="#users">{{translation.menu.main.users}}</a></li>
                </ul>
            </div>

            <!--QUICK MENU -->
            <h2>{{translation.menu.secondary.quickMenu}}</h2>
            <div class="quick-menu">
                <button ng-click="go('/album/new')">{{translation.menu.secondary.newAlbum}}</button>
                <button ng-click="go('/track/new')">{{translation.menu.secondary.newTrack}}</button><br><br>

                    <span>{{translation.menu.secondary.year}}</span>
                    <select ng-change="findAlbums(year);"
                            ng-model="year"
                            ng-options="year for year in years">
                    </select>

                    <div ng-hide="albums.length<=0" style="margin: 0">
                        <span>{{translation.menu.secondary.album}}</span>
                        <select ng-change="findChildAlbums(album.id); findChildTracks(album.id);"
                                ng-model="album"
                                ng-options="album.title for album in albums">
                        </select>
                        <button ng-click="go('/album/'+album.id);">
                            {{translation.menu.secondary.open}}
                        </button><br><br>
                    </div>

                    <div ng-hide="tracks.length<=0" style="margin: 0">
                        <span>{{translation.menu.secondary.tracks}}</span>
                        <select ng-model="track"
                                ng-options="track.combinedTitle for track in tracks">
                        </select>
                        <button ng-click="go('/track/'+track.id);">
                            {{translation.menu.secondary.open}}
                        </button><br><br>
                    </div>

                    <div ng-hide="childAlbums.length<=0" style="margin: 0">
                        <span>{{translation.menu.secondary.childAlbums}}</span>
                        <select ng-change="findChildTracks(albumChild.id);"
                                ng-model="albumChild"
                                ng-options="childAlbum.title for childAlbum in childAlbums">
                        </select>
                        <button ng-click="go('/album/'+albumChild.id);">
                            {{translation.menu.secondary.open}}
                        </button><br><br>
                    </div>

                    <div ng-hide="childTracks.length<=0" style="margin: 0">
                        <span>{{translation.menu.secondary.childTracks}}</span>
                        <select ng-model="trackChild"
                                ng-options="childTrack.combinedTitle for childTrack in childTracks">
                        </select>
                        <button ng-click="go('/track/'+trackChild.id);">
                            {{translation.menu.secondary.open}}
                        </button>
                    </div>

            </div>

        </div>

        <div class="background" ng-class="{'visible': visible}"></div>
        <div class="foreground"></div>
    </div>

    <!--BACKGROUND-->
    <div class="background-left"></div>
    <div class="background-right"></div>
</div>