.page-positioning {
  position: relative;
  margin: auto;
  max-width: $pageWidth;
}

.bmm-margin-top {
  margin-top: 2em;
}

.background-left {
  position: fixed;
  top: 0;
  width: 50%;
  height: 100%;
  //background-color: $colorBackground;
  z-index: -1;
}

.background-right {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  //background-color: $colorForeground;
  z-index: -1;
}

.bmm-flag {
  width: 1.7em;
  height: 1.4em;
}

.loadscreen {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(80, 80, 80, 0.89);
  z-index: 10000;
  .logo {
    float: none;
    margin: 3em auto;
    width: 8.5em;
  }
  .progress {
    position: relative;
    margin: 3em auto;
    width: 15em;
    height: 1em;
    background-color: #fff;
    .buffer {
      height: 100%;
      background-color: $colorMain;
    }
  }
}