//SIZES
$topbarHeight: 32px !default;
$pageWidth: 90em !default;
$headerHeight: 5.7em !default;
$navigationWidth: 16em !default;
$playerHeight: 5.1em !default;
$playerHeightMobile: 3em !default;
$videoHeight: 13em;

//@MEDIA
$maxHeight: 36em; //Should be equal to sidebar @media
$maxWidth: 50em;
$navigationMinWidth: 0;
$mobileHeight: 30em;
$mobileWidth: 29em;

//COLORS
$colorMain: #1F9C62 !default;
$colorBackground: #282E33 !default;
$colorForeground: #F6F2F2 !default;
$colorPlayer: #0c1b29 !default;
$colorPlayerText: #FFF !default;
$colorPlayerTextSecondary: #5C7082 !default;
$colorPlayerElements: #1e3851 !default;
$colorPopup: #fff;
$colorPopupHover: #E7E7E7;
$colorBorders: #CFD2D5;