//SIZES
$topbarHeight: 32px !default;
$pageWidth: 70em !default;
$headerHeight: 5.5em !default;
$navigationWidth: 16em !default;
$playerHeight: 5.7em !default;
$playerHeightMobile: 3em !default;
$videoHeight: 13em;

//@MEDIA
$maxHeight: 36em; //Should be equal to sidebar @media
$maxWidth: 42em;
$navigationMinWidth: .5em;
$mobileHeight: 30em;
$mobileWidth: 32em;

//COLORS
$colorMain: #1F9C62 !default;
$colorBackground: #282E33 !default;
$colorForeground: #F6F2F2 !default;
$colorPlayer: #E2E2E2 !default;