//Remove link and image styles from different browsers

@-moz-document url-prefix() {
  body {
    position: relative;
  }
}

a, a:focus, a img, img, button {
  text-decoration: none !important;
  outline: none;
  border: none;
}

a {
  cursor: pointer;
}

h1, h2, h3 {
  line-height: normal;
}

h2 {
  color: #000;//$colorMain;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1em;
}

h3 {
  font-size: 2em;
  font-weight: 200;
  margin-bottom: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

input {
  border-radius: .25em;
  border: 0;
}

//Unset bootstrap line-height (messing up top-bar)
input, button, select, textarea {
  line-height: normal!important;
}

table {
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0);
  border-collapse: collapse;
  border-spacing: 0;
}

//Important for sorting
tr {
  padding: 0;
  margin: 0;
}

//jQuery ui fix
.ui-slider .ui-corner-all {
  border: 0;
}

.ui-state-disabled {
  opacity: 1;
}

.ui-slider .ui-slider-handle:hover {
  //background-image: url(../images/svg/sliderbutton_hover.svg);
}
.ui-slider .ui-slider-handle {
  background-image: none;//url(../images/svg/sliderbutton.svg);
  //background-size: contain;
  //background-repeat: no-repeat;
  background-color: #fff;//transparent;
  height: .9em;
  width: .9em;
  top: -.35em;
  cursor: pointer;
  border-radius: .6em;
}

.ui-slider-horizontal {
  @include gradient(#2DAD54 , #D7EF3C, true);
  height: .2em;
  border: none;
}

.ui-resizable-n {
  height: 15px;
}