//Remove link and image styles from different browsers

@-moz-document url-prefix() {
  body {
    position: relative;
  }
}

a, a:focus, a img, img, button {
  text-decoration: none !important;
  outline: none;
  border: none;
}

a {
  cursor: pointer;
}

h1, h2, h3 {
  line-height: normal;
}

h2 {
  color: #000;//$colorMain;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 25px;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

input {
  border-radius: .2em;
  border: 0;
}

//Unset bootstrap line-height (messing up top-bar)
input, button, select, textarea {
  line-height: normal!important;
}

table {
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0);
  border-collapse: collapse;
  border-spacing: 0;
}

//Important for sorting
tr {
  padding: 0;
  margin: 0;
}

//jQuery ui fix
.ui-slider .ui-corner-all {
  border: 0;
}

.ui-slider .ui-slider-handle:hover {
  //background-image: url(../images/svg/sliderbutton_hover.svg);
}
.ui-slider .ui-slider-handle {
  background-image: none;//url(../images/svg/sliderbutton.svg);
  //background-size: contain;
  //background-repeat: no-repeat;
  background-color: #fff;//transparent;
  height: .9em;
  width: .9em;
  top: -.35em;
  cursor: pointer;
  border-radius: .6em;
}

.ui-slider-horizontal {
  height: .2em;
  //background: $colorPlayerElements;
  //OBS! webkit is inverse from the other ones
  /* IE10 Consumer Preview */
  background-image: -ms-linear-gradient(left, #2DAD54 0%, #D7EF3C 100%);
  background-image: -moz-linear-gradient(left, #2DAD54 0%, #D7EF3C 100%);
  background-image: -o-linear-gradient(left, #2DAD54 0%, #D7EF3C 100%);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #2DAD54), color-stop(1, #D7EF3C));
  background-image: -webkit-linear-gradient(left, #2DAD54 0%, #D7EF3C 100%);
  background-image: linear-gradient(to right, #2DAD54 0%, #D7EF3C 100%);
  border: none;
}

.ui-resizable-n {
  height: 15px;
}