
<div class="bmm-background-right"></div>
<div class="bmm-background-left"></div>

<div bmm-container-main class="bmm-player-target">

	<div class="bmm-container-header main" ng-class="{'bmm-small': miniScreen}">
		<div class="bmm-wrapper">

			<div class="bmm-logo"></div>

			<li class="dropdown bmm-options">
			  <a class="dropdown-toggle flags-nb">
			  	DE
			  </a>
			  <ul class="dropdown-menu">
			    <li>
			      <a class="flags-nb">NB</a>
			    </li>
			    <li>
			      <a class="flags-dk">DK</a>
			    </li>
			    <li>
			      <a class="flags-ch">CH</a>
			    </li>
			  </ul>
			</li>

			<div class="bmm-search">
				<div>
					<input type="text" placeholder="Søk..."/>
					<input type="submit" value=""/>
				</div>
			</div>

			<div class="bmm-navigator-main">
				<ul>
					<li>Button1</li>
					<li>Button2</li>
					<li>Button3</li>
					<li>Button4</li>
					<li>Button5</li>
				</ul>
			</div>

		</div>

	</div>

	<div class="bmm-wrapper bmm-main-container" ng-class="{'bmm-small': miniScreen}">

		<div class="bmm-navigator-playlist" ng-class="{'bmm-small': miniScreen}">
			<div class="bmm-navigator-switch"
				 ng-class="{'bmm-small': miniScreen}"
				 ng-click="miniScreen=!miniScreen;"
			>

			</div>

			<div class="bmm-container-header bmm-small"
       ng-class="{'bmm-small': miniScreen}">
        
        <div class="bmm-wrapper">

          <a ng-href="#" class="bmm-logo"></a> BETA v.1.6

          <li class="dropdown bmm-options">
            <a class="dropdown-toggle flags-{{mediaLanguage}}">
              {{mediaLanguage | bmmLanguage}}
            </a>
            <ul class="dropdown-menu">
              <li ng-repeat="lang in languages">
                <a class="flags-{{lang}}"
                   ng-click="setMediaLanguage(lang);">{{lang | bmmLanguage}}</a>
              </li>
            </ul>
          </li>

          <div class="bmm-search">

            <form ng-submit="go('/search/'+bmm.term);" class="bmm-search">

              <input ng-model="bmm.term" type="text" placeholder="{{translation.inputfieldSearch}}"/>
              <input ng-href="#search/" type="submit" value=""/>

            </form>

          </div>

          <div class="bmm-navigator-main">

            <ul>
							<li>Button1</li>
							<li>Button2</li>
							<li>Button3</li>
							<li>Button4</li>
							<li>Button5</li>
						</ul>

          </div>

        </div>
      </div>

			<h1>Spillelister</h1>

			<ul>

				<li>Playlist1</li>
				<li>Playlist2</li>
				<li>Playlist3</li>
				<li>Playlist4</li>
				<li>Playlist5</li>

			</ul>

			<h3 ng-click="bmmPlaylistAdd = true" ng-hide="bmmPlaylistAdd">Ny spilleliste</h3>

			<div ng-show="bmmPlaylistAdd">
			<form>
				<input type="text" placeholder="Ny spilleliste"/>
				<input type="submit" value="V"/>
				<input type="button" value="X" ng-click="bmmPlaylistAdd = false"/>
			</form>
			</div>

			<ul>

				<li id="Min1" class="bmm-playlist-private">Min1</li>
				<li id="Min2" class="bmm-playlist-private">Min2</li>
				<li id="Min3" class="bmm-playlist-private">Min3</li>
				<li id="Min4" class="bmm-playlist-private">Min4</li>
				<li id="Min5" class="bmm-playlist-private">Min5</li>

			</ul>

		</div>

		<div class="bmm-view" ng-class="{'bmm-small': miniScreen}">

			<input type="text" style="width: 100%;" ng-model="bible"><br>
			<div ng-repeat="a in bibleSolved">
				{{a.name}}
				<li ng-repeat="b in a.chapters">
					{{b.number}}: <a ng-repeat="c in b.verses">,{{c}}</a>
				</li>
			</div>

			<div bmm-path></div>

			<h1>Arkiv</h1>
				<div class="bmm-margin-top"
				data-admin="true"
				data-bmm-lib-app="true"
				data-bmm-treeview="roleList"
				data-tree-id="tree"
				data-node-id="roleId"
				data-node-label="roleName"
				data-node-children="children" >
				</div>

			<div class="flags-nb" style="width:32px; height:32px;"></div>

			<div bmm-playlist>

				<table>
					<thead>
						<tr>
							<th></th>
							<th></th>
							<th>Nr.</th>
							<th>Navn</th>
							<th>Varighet</th>
							<th>Innhold</th>
							<th>Språk</th>
							<th></th>
						</tr>
					</thead>
					<tbody ui-sortable="sortableOptions" ng-model="playlist">
						<tr id="{{$index}}" ng-repeat="track in playlist"
						  ng-class="{even: $even, odd: $odd}">
							<td class="drag">=</td>
							<td class="sort">^ᵥ</td>
							<td>{{track.nr}}</td>
							<td>{{track.name}}</td>
							<td>{{track.duration}}</td>
							<td>{{track.content}}</td>
							<td>{{track.language}}</td>
							<td><div bmm-track-tools></div></td>
						</tr>
					</tbody>
				</table>

			</div>

		</div>

	</div>

</div>

<div bmm-player-controller
	 copyright="Stiftelsen skjulte skatters forlag">
</div>