<div class="bmm-lib-api-paragraph">
	<h2>root()</h2>
	<pre>
		{{root | json}}
	</pre>
</div>

<div class="bmm-lib-api-paragraph">
	<h2>user()</h2>
	<pre>
		{{user | json}}
	</pre>
</div>

<div class="bmm-lib-api-paragraph">
	<h2>albumLatest()</h2>
	<pre>
		{{albumLatest | json}}
	</pre>
</div>

<div class="bmm-lib-api-paragraph">
	<h2>albumGet(id)</h2>
	<pre>
		{{albumGet | json}}
	</pre>
</div>

<div class="bmm-lib-api-paragraph">
	<h2>facetsPublishedYears()</h2>
	<pre>
		{{facetsPublishedYears | json}}
	</pre>
</div>

<div class="bmm-lib-api-paragraph">
	<h2>search('kåre')</h2>
	<pre>
		{{search | json}}
	</pre>
</div>

<div class="bmm-lib-api-paragraph">
	<h2>suggest('aslaksen')</h2>
	<pre>
		{{suggest | json}}
	</pre>
</div>

<div class="bmm-lib-api-paragraph">
	<h2>trackLatest()</h2>
	<pre>
		{{trackLatest | json}}
	</pre>
</div>

<div class="bmm-lib-api-paragraph">
	<h2>trackRel('påske')</h2>
	<pre>
		{{trackRel | json}}
	</pre>
</div>

<div class="bmm-lib-api-paragraph">
	<h2>trackGet(38933)</h2>
	<pre>
		{{trackGet | json}}
	</pre>
</div>

<div class="bmm-lib-api-paragraph">
	<h2>trackFiles(38933)</h2>
	<pre>
		{{trackFiles | json}}
	</pre>
</div>

<div class="bmm-lib-api-paragraph">
	<h2>userTrackCollectionGet(1)</h2>
	<pre>
		{{userTrackCollectionGet | json}}
	</pre>
</div>