$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import url("https://fonts.googleapis.com/css?family=Lato");

.logo {
	background-image: url(../images/svg/logo_backend.svg);
	width: 7.5em;
}

body {
  padding: 0 !important;
}