.nextEpisode {
  float: none !important;
  position: relative;

  .episodeAvailable {
    position: relative;

    > h4 {
      text-align: center;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      z-index: 1;

      .publishing {
        font-weight: bold;
      }
    }
  }

  .controls {
    position: absolute;
    height: 15px;
    top: 0;
    width: 100%;

    .left {
      left: 0;
    }
    .right {
      right: 0;
    }

    > span {
      position: absolute;

      &.disabled {
        color: #ccc;
      }
      &.enabled {
        color: #000;
        cursor: pointer;
      }

      .glyphicon {
        vertical-align: text-top;
      }
    }
  }

  .errors {
    float: none;
    padding: 0 20px;
    border: 1px dashed red;
    margin-top: 20px;

    h5 > span {
      color: red;
      vertical-align: top;
    }
    .glyphicon-exclamation-sign {
      color: orange;
    }
  }

  table {
    width: 100%;
    margin-top: 20px;

    tbody tr {
      padding: 5px 0;
      height: 25px;
      border-top: 1px solid #ccc;

      td:not(:last-child) {
        padding-right: 5px;
      }
    }
  }

  .center {
    text-align: center;
  }

  .flag {
    vertical-align: top;
  }

  .glyphicon-exclamation-sign {
    color: orange;
    vertical-align: text-top;
  }
  .glyphicon-ok {
    color: green;
  }
  .glyphicon-remove {
    color: red;
  }
}

@media screen and (max-width: 53em) {
  .nextEpisode {
    .languageCode, .publishing {
      display: none;
    }
  }
}
