.notifications {
  float: none !important;

  > div {
    float: none !important;
  }

  h3 {
    margin-bottom: 20px;
  }

  table {
    width: 100%;
    margin-bottom: 20px;

    tbody tr {
      padding: 5px 0;
      height: 25px;
      border-top: 1px solid #ccc;

      td:not(:last-child) {
        padding-right: 5px;
      }

      .tracks {
        padding: 5px 0;
      }
    }
  }

  .glyphicon-exclamation-sign {
    color: orange;
  }
}