.notifications {
  float: none !important;

  table {
    width: 100%;
    margin: 20px 0;

    tbody tr {
      padding: 5px 0;
      height: 25px;
      border-top: 1px solid #ccc;

      td:not(:last-child) {
        padding-right: 5px;
      }

      .tracks {
        padding: 5px 0;
      }
    }
  }

  h4 {
    margin-top: 20px;
  }

  .glyphicon-exclamation-sign {
    color: orange;
  }

  ul li {
    list-style-type: initial;
    margin-left: 40px;
  }
}