<div class="bmm-thumbnail" style="
	background-image: url({{mainAlbum.cover | _cover}});
	margin-right: 1em;
"></div>
<h3 class="main-title">
  <a ng-href="album/{{parentAlbum.id}}" ng-show="parentAlbum.found"><span ng-bind="parentAlbum.title"></span></a>
  <span class="breadcrumb" ng-show="parentAlbum.found"> / </span>
  <span ng-bind="mainAlbum.title"></span>
</h3><br>
{{tracks}} {{init.translation.playlist.tracks}}
<div class="albumDescription clearFix"><span ng-bind="mainAlbum.description"></span></div><br>

<div class="actionButtons" ng-show="tracks>0">
  <div class="clearFix"></div>
  <div class="actionButton play-playlist"
       ng-click="playlist = playlists[0].tracks; play(playlist); playlists[0].hide = false">
      <span ng-bind="init.translation.options.playPlaylist"></span>
  </div>

  <a class="bmm-zip" download ng-show="!init.isIOS"
     ng-href="{{zip.url}}" ng-click="zip.action($event)">
      <span ng-bind="init.translation.options.download"></span>
  </a>
  <div class="options albumOptions"
          ng-model="albumOptions"
          click-elsewhere="albumOptions=false; languageFilterShow=false">

      <div class="optionsToggl" ng-click="albumOptions=!albumOptions;"></div>

      <div class="arrow" ng-show="albumOptions"></div>

      <ul ng-show="albumOptions">
          <li ng-click="$parent.tracksToPlaylist=getPlaylistCopy(languageFilter);">
              <div class="icon no-flag playlist"></div>
              <span ng-bind="init.translation.options.addToPlaylist"></span>
          </li>
          <li ng-click="$root.share.link=path; $root.share.show=true">
              <div class="icon no-flag share"></div>
              <span ng-bind="init.translation.options.share"></span>
          </li>
      </ul>

  </div>
</div>

<div playlist>
    <div ng-hide="load" ng-repeat="album_playlist in playlists">
      <table>
        <thead ng-hide="playlists.length==1">
          <tr class="title" ng-init="album_playlist.hide = true" ng-click="album_playlist.hide = !album_playlist.hide">
            <th colspan="6">
              <h4><span ng-bind="album_playlist.title"></span></h4>
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody ng-hide="album_playlist.hide&&($index>0||playlists.length>1)">
            <tr class="head">
              <th colspan="2"><span ng-bind="init.translation.playlist.title"></span></th>
              <th class="bmm-large-only"><span ng-bind="init.translation.playlist.song"></span></th>
              <th><span ng-bind="init.translation.page.search.artist"></span></th>
              <th class="bmm-large-only"><span ng-bind="init.translation.page.search.album"></span></th>
              <th><span ng-bind="init.translation.playlist.duration"></span></th>
              <th class="bmm-large-only"></th>
              <th></th>
            </tr>
            <tr id="{{::track.id}}" language="{{::track.language}}" ng-repeat="track in album_playlist.tracks | filter: {language: languageFilter}"
                ng-class="{even: $even, odd: $odd, playing: track.playing}">
                <td ng-class="{'sort': private}">
                    <div ng-show="private" class="sort_handle"></div>
                    <img ng-hide="track.playing" ng-src="{{::track.subtype | _icon}}">
                    <img ng-show="track.playing" ng-src="{{::'playing' | _icon}}">
                </td>
                <td title="{{::track.title}}" class="drag" ng-click="$parent.$parent.playlist = album_playlist.tracks; play(album_playlist.tracks, $index);"><span ng-bind="::track.title | _min:40"></span></td>
                <td title="{{::track | _songnumber}}" class="drag bmm-large-only" ng-click="$parent.$parent.playlist = album_playlist.tracks; play(album_playlist.tracks, $index);"><span ng-bind="::track | _songnumber"></span></td>
                <td title="{{::track.performers}}" class="drag" ng-click="$parent.$parent.playlist = album_playlist.tracks; play(album_playlist.tracks, $index);"><span ng-bind="::track.performers | _min:20"></span></td>
                <td class="drag bmm-large-only" title="{{::track.albumTitle}}" class="drag" ng-click="$parent.$parent.playlist = album_playlist.tracks; play(album_playlist.tracks, $index);"><span ng-bind="::track.albumTitle | _min:40"></span></td>
                <td class="drag" ng-click="$parent.$parent.playlist = album_playlist.tracks; play(album_playlist.tracks, $index);"><span ng-bind="::track.duration | _time"></span></td>
                <td class="bmm-large-only languageFlag" ng-click="$parent.$parent.playlist = album_playlist.tracks; play(album_playlist.tracks, $index);">
                    <div class="bmm-flag flags-{{::track.language}}"></div>
                </td>
                <td>
                    <div ng-include="'views/pages/options.html'"></div>
                </td>
            </tr>
        </tbody>
      </table>
      <div class="divider" ng-hide="playlists.length==$index+1"></div>
    </div>
</div>

<div ng-show="load" style="100%; margin-top: 2em">
    <img ng-src="fallback_images/gif/load.gif">
</div>
