<div class="bmm-thumbnail" style="
	background-image: url({{mainAlbum.cover}});
	margin-right: 1em;
"></div>
<h3 style="width: auto;">{{mainAlbum.title}}</h3><br>
{{tracks}} {{translation.playlist.tracks}}
<div style="float: none; margin-top: .3em;">{{mainAlbum.description}}</div><br>
<div class="play-playlist"
     ng-click="play(getPlaylistCopy(languageFilter), 0);">
    {{translation.options.playPlaylist}}
</div>
<a title="Download ZIP"
   class="bmm-zip"
   ng-show="!ios"
   target="_blank"
   ng-href="{{zip.url}}">
    {{translation.options.download}}
</a>
<button class="options albumOptions"
        ng-model="albumOptions"
        ng-blur="albumOptions=false; languageFilterShow=false">

    <div class="optionsToggl" ng-click="albumOptions=!albumOptions;"></div>

    <div class="arrow" ng-show="albumOptions"></div>

    <ul ng-show="albumOptions && !languageFilterShow">
        <li ng-click="$parent.tracksToPlaylist=getPlaylistCopy(languageFilter);">
            <div class="icon no-flag playlist"></div>
            <span>{{translation.options.addToPlaylist}}</span>
        </li>
        <li ng-click="$parent.newPodcast.link=podcast.link; $parent.newPodcast.show=true">
            <div class="icon no-flag podcast"></div>
            <span>{{translation.options.podcast}}</span>
        </li>
        <li ng-click="languageFilterShow=true">
            <div class="icon no-flag settings"></div>
            <span>{{translation.options.filterByLanguage}}</span>
        </li>
    </ul>

    <ul ng-show="languageFilterShow">
        <li ng-click="languageFilterShow=false">
            <div class="icon settings"></div>
            <span>{{translation.options.goBack}}</span>
        </li>
        <li ng-click="languageFilter=''">
            <div class="icon"></div>
            <span>{{translation.options.removeFilter}}</span>
        </li>
        <li ng-repeat="lang in root.languages"
            ng-click="$parent.languageFilter=lang">
            <div class="icon flags-{{lang}}"></div>
            <span>{{lang | bmmLanguage}}</span>
        </li>
    </ul>

</button>

<div bmm-playlist>
    <table>

        <thead>
        <tr>
            <th>{{translation.playlist.title}}</th>
            <th></th>
            <th>{{translation.page.search.artist}}</th>
            <th class="bmm-large-only">{{translation.page.search.album}}</th>
            <th>{{translation.playlist.duration}}</th>
            <th class="bmm-large-only"></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <tr id="{{track.id}}" language="{{track.language}}" ng-repeat="track in playlist | filter: {language: languageFilter}"
                ng-class="{playing: track.playing}">
                <td ng-class="{'sort': private}">
                    <div ng-show="private" class="sort_handle"></div>
                    <img ng-src="{{track.subtype | icon}}">
                </td>
                <td title="{{track.title}}" class="drag" ng-click="play(getPlaylistCopy(languageFilter), $index);">{{track.title | bmmMin:40}}</td>
                <td title="{{track.performers}}" class="drag" ng-click="play(getPlaylistCopy(languageFilter), $index);">{{track.performers | bmmMin:20}}</td>
                <td class="drag bmm-large-only" title="{{track.albumTitle}}" class="drag" ng-click="play(getPlaylistCopy(languageFilter), $index);">{{track.albumTitle | bmmMin:40}}</td>
                <td class="drag" ng-click="play(getPlaylistCopy(languageFilter), $index);">{{track.duration | bmmTime}}</td>
                <td class="bmm-large-only" ng-click="play(getPlaylistCopy(languageFilter), $index);">
                    <div class="bmm-flag" ng-class="{'flags-{{track.language}}': track.language!=mediaLanguage}"></div>
                </td>
                <td>

                    <button class="options"
                            ng-model="trackOptions"
                            ng-blur="trackOptions=false">

                        <div class="optionsToggl" ng-click="trackOptions=!trackOptions;"></div>

                        <div class="arrow" ng-show="trackOptions"></div>

                        <ul ng-show="trackOptions">
                            <li ng-click="$parent.$parent.$parent.trackToPlaylist.id=track.id; $parent.$parent.$parent.trackToPlaylist.language=track.language">
                                <div class="icon playlist"></div>
                                <span>{{translation.options.addToPlaylist}}</span>
                            </li>
                            <li ng-hide="ios">
                                <a download ng-href="{{track.file}}?download=1">
                                    <div class="icon download"></div>
                                    <span>{{translation.options.download}}</span>
                                </a>
                            </li>
                        </ul>

                    </button>

                </td>
            </tr>
        </tbody>

    </table>
</div>