<div>
    <h2>{{init.translation.page.audiobooks.latestAudiobooks}}</h2>

    <bmm-latest-list track-type="song" tracks="latestAudiobook" list-length="latestAudiobookColHeight" ></bmm-latest-list>


    <bmm-latest-list track-type="song" start-index="latestAudiobookColHeight" tracks="latestAudiobook" list-length="latestAudiobookColHeight" ></bmm-latest-list>

    <bmm-latest-list class="largeOnly" track-type="song" start-index="latestAudiobookColHeight*2" tracks="latestAudiobook" list-length="latestAudiobookColHeight" ></bmm-latest-list>

</div>

<h2>{{init.translation.page.welcome.latestAlbums}}</h2>

<div>
	<div title="{{album.title}}" ng-click="go('/album/'+album.id);" class="album-latest bmm-hover" ng-repeat="album in latestAlbums">
        <img class="album-latest-image" ng-src="{{album.cover}}"/>
		<div class="album-latest-title">{{album.title}}</div>
        <div class="flag flags-{{album.raw.language}}"></div>
	</div>
</div>

<div ng-show="load" style="100%; margin-top: 2em">
    <img ng-src="fallback_images/gif/load.gif">
</div>