<div>
<h2>{{translation.page.music.latestMusic}}</h2>

<ul class="bmm-latest-list small">
	<li ng-repeat="track in latestMusicLeft"
        class="draggable latest"
        id="{{track.id}}"
        language="{{track.language}}"
        title="{{track.albumTitle}}">
		<div class="bmm-latest" ng-click="play(latestMusicLeft, $index);">
			<div class="bmm-latest-bullet">{{$index+1}}</div>
			<div>
				<img class="bmm-latest-thumbnail" ng-src="{{track.cover | bmmCover:'song'}}"/>
			</div>
			<div class="bmm-latest-title">{{track.title}}</div>
			<div class="bmm-latest-interprets">{{track.performers}}</div>
			<div class="bmm-latest-about">{{track.date | locals:translation['iso-639-1']:'{d}. {SHORTMONTH}'}} ({{track.duration | bmmTime}})</div>
		</div>
        <div ng-include="'views/pages/options.html'"></div>
	</li>
</ul>

<ul class="bmm-latest-list small">
	<li ng-repeat="track in latestMusicRight"
        class="draggable latest"
        id="{{track.id}}"
        language="{{track.language}}"
        title="{{track.albumTitle}}">
		<div class="bmm-latest" ng-click="play(latestMusicRight, $index);">
			<div class="bmm-latest-bullet">{{$index+6}}</div>
			<div>
                <img class="bmm-latest-thumbnail" ng-src="{{track.cover | bmmCover:'song'}}"/>
			</div>
			<div class="bmm-latest-title">{{track.title}}</div>
			<div class="bmm-latest-interprets">{{track.performers}}</div>
			<div class="bmm-latest-about">{{track.date | locals:translation['iso-639-1']:'{d}. {SHORTMONTH}'}} ({{track.duration | bmmTime}})</div>
		</div>
        <div ng-include="'views/pages/options.html'"></div>
	</li>
</ul>

    <ul class="bmm-latest-list small largeOnly">
        <li ng-repeat="track in latestLargeOnly"
            class="draggable latest"
            id="{{track.id}}"
            language="{{track.language}}"
            title="{{track.albumTitle}}">
            <div class="bmm-latest" ng-click="play(latestLargeOnly, $index);">
                <div class="bmm-latest-bullet">{{$index+11}}</div>
                <div>
                    <img class="bmm-latest-thumbnail" ng-src="{{track.cover | bmmCover:'song'}}"/>
                </div>
                <div class="bmm-latest-title">{{track.title}}</div>
                <div class="bmm-latest-interprets">{{track.performers}}</div>
                <div class="bmm-latest-about">{{track.date | locals:translation['iso-639-1']:'{d}. {SHORTMONTH}'}} ({{track.duration | bmmTime}})</div>
            </div>
            <div ng-include="'views/pages/options.html'"></div>
        </li>
    </ul>
</div>

<div style="width: 15em;">
    <h2 class="interprets">{{translation.page.music.artists}}</h2>
    <input type="text"
           style="width: 100%; height: 2em;"
           placeholder="{{translation.general.search}}"
           ng-model="contributor">
    <ul>
        <li>
            <div class="bmm-interpret"
                 ng-repeat="contributor in contributors | limitTo: 4"
                 ng-click="go('/playlist/contributor/'+contributor.id+'/'+contributor.name);"
                 title="{{contributor.name}}">
                <img class="bmm-interpret-thumbnail" ng-src="{{contributor.cover | bmmCover:'contributor'}}">
                <div class="bmm-interpret-title">{{contributor.name}}</div>
            </div>
        </li>
    </ul>
</div>

<h2>{{translation.page.welcome.latestAlbums}}</h2>

<div>
	<div title="{{album.title}}" ng-click="go('/album/'+album.id);"  class="album-latest bmm-hover" ng-repeat="album in latestAlbums">
        <img class="album-latest-image" ng-src="{{album.cover}}"/>
		<div class="album-latest-title">{{album.title}}</div>
		<div class="album-latest-about"></div>
	</div>
</div>