<div>
    <h2><span ng-bind="init.translation.page.music.latestMusic"></span></h2>

    <bmm-latest-list size="small" tracks="latestMusic" list-length="::latestMusicColHeight" ></bmm-latest-list>


    <bmm-latest-list size="small" start-index="::latestMusicColHeight" tracks="latestMusic" list-length="::latestMusicColHeight" ></bmm-latest-list>

    <bmm-latest-list size="small" class="largeOnly" start-index="::latestMusicColHeight*2" tracks="latestMusic" list-length="::latestMusicColHeight" ></bmm-latest-list>
</div>

<div style="width: 14em; margin-left: 1em;">
    <h2 class="interprets"><span ng-bind="init.translation.page.music.artists"></span></h2>
    <input type="text"
           style="width: 100%; height: 2em;"
           placeholder="{{init.translation.general.search}}"
           ng-model="contributor">
    <ul>
        <li>
            <div class="bmm-interpret"
                 ng-repeat="contributor in contributors | limitTo: 4"
                 ng-click="go('/playlist/contributor/'+contributor.id+'/'+contributor.name);"
                 title="{{contributor.name}}">
                <img class="bmm-interpret-thumbnail" ng-src="{{contributor.cover | _cover:'contributor'}}">
                <div class="bmm-interpret-title"><span ng-bind="contributor.name"></span></div>
            </div>
        </li>
    </ul>
</div>

<h2><span ng-bind="init.translation.page.welcome.latestAlbums"></span></h2>

<div>
	<div title="{{::album.title}}" ng-click="go('/album/'+album.id);"  class="album-latest bmm-hover" ng-repeat="album in ::latestAlbums">
        <img class="album-latest-image" ng-src="{{::album.cover}}"/>
		<div class="album-latest-title"><span ng-bind="::album.title"></span></div>
        <div class="flag flags-{{::album.raw.language}}"></div>
	</div>
</div>

<div ng-show="load" style="100%; margin-top: 2em">
    <img ng-src="fallback_images/gif/load.gif">
</div>