<div class="search-result-info">
    <div ng-show="searchResults"><br>
        <b><span ng-bind="init.translation.general.searchResultsFor"></span></b>
    </div>
    <h3><span ng-bind="::title"></span></h3>
</div>
<span class="playlist-author" ng-show="showAuthor">{{init.translation.playlist.by}} {{authorName}}</span>
<span ng-bind="tracks + ' ' + init.translation.playlist.tracks"></span>
<br ng-show="tracks>0&&albumCount>0">
<span ng-hide="albumCount<1"><span ng-bind="albumCount + ' ' + init.translation.playlist.albums"></span></span>
<br>
<div class="actionButtons" ng-show="tracks>0">
    <div class="actionButton add-to-my-playlists" ng-click="follow();" ng-show="showFollow">
      {{init.translation.options.addToMyPlaylists}}
    </div>
    <div class="actionButton play-playlist"
         ng-click="play(getPlaylistCopy(languageFilter), 0);">
        {{init.translation.options.playPlaylist}}
    </div>
    <a class="bmm-zip"
       ng-show="zip.show&&!init.isIOS"
       target="_blank"
       ng-href="{{zip.url}}">
        {{init.translation.options.download}}
    </a>
    <div class="options albumOptions"
            ng-model="albumOptions"
            click-elsewhere="albumOptions=false; languageFilterShow=false">

        <div class="optionsToggl" ng-click="albumOptions=!albumOptions; languageFilterShow=false; removeMinHeight()" ng-show="showOptions"></div>

        <div class="arrow" ng-show="albumOptions"></div>

        <ul ng-show="albumOptions&&!languageFilterShow">
            <li ng-click="$parent.tracksToPlaylist=getPlaylistCopy(languageFilter)">
                <div class="icon playlist"></div>
                <span ng-bind="init.translation.options.addToPlaylist"></span>
            </li>
            <li ng-show="showShareButton" ng-click="$root.share.link=shareLink; $root.share.show=true">
                <div class="icon no-flag share"></div>
                <span ng-bind="init.translation.options.share"></span>
            </li>
            <li ng-click="languageFilterShow=true; setMinHeight()">
                <div class="icon no-flag settings"></div>
                <span ng-bind="init.translation.options.filterByLanguage"></span>
            </li>
        </ul>

        <ul ng-show="albumOptions&&languageFilterShow">
            <li ng-click="languageFilterShow=false; removeMinHeight()">
                <div class="icon go-back"></div>
                <span ng-bind="init.translation.options.goBack"></span>
            </li>
            <li ng-click="languageFilter=''">
                <div class="icon"></div>
                <span ng-bind="init.translation.options.removeFilter"></span>
            </li>
            <li ng-repeat="lang in init.root.languages"
                ng-click="$parent.languageFilter=lang">
                <div class="icon-flag flags-{{::lang}}"></div>
                <span ng-bind="::lang | _languageCode"></span>
            </li>
        </ul>

    </div>
</div>

<div playlist ng-hide="tracks<1">
	<table>
    <tbody>
      <tr class="head">
        <th colspan="2"><span ng-bind="init.translation.playlist.title"></span></th>
        <th class="bmm-large-only"><span ng-bind="init.translation.playlist.song"></span></th>
        <th><span ng-bind="init.translation.page.search.artist"></span></th>
        <th class="bmm-large-only"><span ng-bind="init.translation.page.search.album"></span></th>
        <th><span ng-bind="init.translation.playlist.duration"></span></th>
        <th class="bmm-large-only"></th>
        <th></th>
      </tr>
    </tbody>
		<tbody ui-sortable="sortableOptions" ng-model="playlist">
      <tr id="{{::track.id}}" language="{{::track.language}}" ng-repeat="track in playlist | filter: {language: languageFilter}"
			  ng-class="{even: $even, odd: $odd, playing: track.playing}">
				<td ng-class="{'sort': canEdit}">
                    <div ng-show="canEdit" class="sort_handle"></div>
                    <img ng-hide="track.playing" ng-src="{{::track.subtype | _icon}}">
                    <img ng-show="track.playing" ng-src="{{::'playing'| _icon}}">
                </td>
                <td title="{{::track.title}}" class="drag" ng-click="play(getPlaylistCopy(languageFilter), $index);"><span ng-bind="::track.title | _min:40"></span></td>
                <td title="{{::track | _songnumber}}"><span ng-bind="::track | _songnumber"></span></td>
                <td title="{{::track.performers}}" class="drag" ng-click="play(getPlaylistCopy(languageFilter), $index);"><span ng-bind="::track.performers | _min:20"></span></td>
				<td class="drag bmm-large-only" title="{{::track.albumTitle}}" class="drag" ng-click="play(getPlaylistCopy(languageFilter), $index);"><span ng-bind="::track.albumTitle | _min:40"></span></td>
				<td class="drag" ng-click="play(getPlaylistCopy(languageFilter), $index);"><span ng-bind="::track.duration | _time"></span></td>
				<td class="bmm-large-only languageFlag" ng-click="play(getPlaylistCopy(languageFilter), $index);"><div class="bmm-flag flags-{{::track.language}}"></div></td>
                <td>
                    <div ng-include="'views/pages/options.html'"></div>
                </td>
			</tr>
		</tbody>

	</table>
</div>

<div style="margin-top: 2em; width: 100%;">
    <div title="{{::album.title}}" ng-click="go('/album/'+album.id);"  class="album-latest bmm-hover" ng-repeat="album in albums">
        <img class="album-latest-image" ng-src="{{::album.cover | _authorizedUrl}}"/>
        <div class="album-latest-title"><span ng-bind="album.title"></span></div>
        <div class="album-latest-about"></div>
    </div>
</div>

<div ng-show="load" style="100%; margin-top: 2em">
    <img ng-src="fallback_images/gif/load.gif">
</div>
