<h2>{{title}}</h2>

<div ng-show="podcast.isset" style="width: 100%">
	<b>{{translation.playlist.copyPodcastLink}}</b><br>
    <span ng-hide="allLanguages">{{translation.playlist.language}}</span>
    <div class="dropdown" ng-hide="allLanguages"
         style="float: none; margin: 0; display: inline-block">
        <a class="dropdown-toggle">
            <div class="flags-{{podcastLanguage}}"></div>
            {{podcastLanguage | bmmLanguage}}</a>
        <ul class="dropdown-menu" style="margin-left: 0!important">
            <li ng-repeat="lang in languages">
                <a class="flags-{{lang}}"
                   ng-click="$parent.podcastLanguage=lang">{{lang | bmmLanguage}}</a>
            </li>
        </ul>
    </div> -
    <span ng-click="allLanguages=!allLanguages">{{translation.playlist.allLanguages}}</span>
    <input type="checkbox" ng-model="allLanguages"> -
    <span>{{translation.playlist.feedSize}}</span>
    <input type="number" ng-model="fileRestriction" ng-init="fileRestriction=20" min="1">
	<textarea style="display: inline-block; width: 100%"
              onkeydown="event.preventDefault();event.stopPropagation();return false;"
              oncut="event.preventDefault();event.stopPropagation();return false;"
    >{{podcast.link}}language={{podcastLanguage}}&size={{fileRestriction}}</textarea>
</div>
<br ng-show="podcast.isset">
<br ng-show="podcast.isset">
<a title="Download ZIP" class="bmm-track-download bmm-zip" ng-show="zip.show&&!ios" target="_blank" ng-href="{{zip.url}}"></a><br>
<b>{{translation.playlist.content}};</b> ( {{tracks}} {{translation.playlist.tracks}}; {{translation.playlist.totalDuration}}: {{duration | bmmTime}} )
<div bmm-playlist>
	<table>
		
		<thead>
			<tr>
				<th ng-show="private"></th>
				<th class="bmm-large-only">{{translation.playlist.nr}}</th>
				<th>{{translation.playlist.title}}</th>
				<th></th>
				<th>{{translation.playlist.duration}}</th>
				<th class="bmm-large-only"></th>
				<th></th>
			</tr>
		</thead>
		<tbody ui-sortable="sortableOptions" ng-model="playlist">
			<tr id="{{track.id}}" language="{{track.language}}" ng-repeat="track in playlist"
			  ng-class="{even: $even, odd: $odd, playing: track.playing}">
				<td ng-show="private" class="sort bmm-sort"></td>
				<td class="bmm-large-only drag">{{$index+1}}</td>
				<td title="{{track.combinedTitle}}" class="drag" ng-click="play(playlist, $index);">{{track.combinedTitle | bmmMin:40}}</td>
				<td title="{{track.albumTitle}}" class="drag">{{track.albumTitle | bmmMin:20}}</td>
				<td class="drag">{{track.duration | bmmTime}}</td>
				<td class="bmm-large-only"><div class="bmm-flag" ng-class="{'flags-{{track.language}}': track.language!=mediaLanguage}"></div></td>
				<td>
					<a ng-hide="ios" download class="bmm-track-download" ng-href="{{track.file}}?download=1"></a>
					<div ng-show="track.video" class="bmm-player-video" ng-class="{'bmm-transparent': track.video!=true}" ng-click="play(playlist, $index);"></div>
					<div class="bmm-remove-playlist" ng-show="private" ng-click="remove($index)"></div>
				</td>
			</tr>
		</tbody>

	</table>
</div>