<div class="bmm-search-results">
<h2><span ng-bind="init.translation.page.search.searchResults"></span></h2>
<div class="bmm-margin-top"></div>
<ul>
	<li ng-repeat="result in results"
        class="{{result.draggable}} latest long"
        id="{{result.id}}"
        language="{{result.language}}"
        ng-click="open(result.type, result.id, result.language, result.track);">
		<div class="search-result">
			
			<div class="bullet"><span ng-bind="$index+1"></span></div>
            <img class="bmm-thumbnail-search result.type"
                 ng-class="{'bmm-thumbnail-search-video': result.video}"
                 ng-src="{{result.cover | _cover:result.subtype }}"
                 width="auto" height="54"/>
			<div class="content">
				<h3><span ng-bind="result.title"></span></h3>
				<span ng-repeat="relation in result.relations">
					<b><span ng-bind="relation.title"></span>:</b> <span ng-bind="relation.content"></span>
				</span>
                <span>
                    <i>{{result.date | date:'dd.MM.yyyy'}} ({{result.duration | _time}}) - {{result.language | _languageCode}}</i>
                </span>
			</div>
		</div>
	</li>
</ul>
</div>