
<div ng-show="!load">
  <h3>Message to the Romans</h3>
  <h4>Statistikk for {{data.church_name}}</h4>

  <table class="table-element">
    <tr style="background-color: lightgrey">
      <th></th>
      <th ng-show="!data.limit_to_youth">U18</th>
      <th ng-show="!data.limit_to_youth">19 - 25</th>
      <th ng-show="!data.limit_to_youth">26 - 35</th>
      <th>13 - 35</th>
    </tr>
    <tr style="color: #999">
      <td>Har en personlig konto hos BMM</td>
      <td ng-show="!data.limit_to_youth">{{data.has_bmm_account_percent_u18 | number : 1}}%</td>
      <td ng-show="!data.limit_to_youth">{{data.has_bmm_account_percent19to25 | number : 1}}%</td>
      <td ng-show="!data.limit_to_youth">{{data.has_bmm_account_percent26to35 | number : 1}}%</td>
      <td>{{data.has_bmm_account_percent_youth | number : 1}}%</td>
    </tr>
    <tr>
      <td>Hørt på minst 1 episode</td>
      <td ng-show="!data.limit_to_youth">{{data.percent_u18 | number : 1}}%</td>
      <td ng-show="!data.limit_to_youth">{{data.percent19to25 | number : 1}}%</td>
      <td ng-show="!data.limit_to_youth">{{data.percent26to35 | number : 1}}%</td>
      <td>{{data.percent_youth | number : 1}}%</td>
    </tr>
    <tr>
      <td>Hørt på alle episoder fra siste uken</td>
      <td ng-show="!data.limit_to_youth">{{data.last_week_percent_u18 | number : 1}}%</td>
      <td ng-show="!data.limit_to_youth">{{data.last_week_percent19to25 | number : 1}}%</td>
      <td ng-show="!data.limit_to_youth">{{data.last_week_percent26to35 | number : 1}}%</td>
      <td>{{data.last_week_percent_youth | number : 1}}%</td>
    </tr>

    <tr>
      <td>Hørt på alle episoder fra og med 12. februar</td>
      <td ng-show="!data.limit_to_youth">{{data.since_february12_percent_u18 | number : 1}}%</td>
      <td ng-show="!data.limit_to_youth">{{data.since_february12_percent19to25 | number : 1}}%</td>
      <td ng-show="!data.limit_to_youth">{{data.since_february12_percent26to35 | number : 1}}%</td>
      <td>{{data.since_february12_percent_youth | number : 1}}%</td>
    </tr>
    <tr>
      <td>Hørt på alle episoder så langt</td>
      <td ng-show="!data.limit_to_youth">{{data.on_track_percent_u18 | number : 1}}%</td>
      <td ng-show="!data.limit_to_youth">{{data.on_track_percent19to25 | number : 1}}%</td>
      <td ng-show="!data.limit_to_youth">{{data.on_track_percent26to35 | number : 1}}%</td>
      <td>{{data.on_track_percent_youth | number : 1}}%</td>
    </tr>
  </table>

</div>

<div ng-show="load" style="margin-top: 2em">
  <img ng-src="fallback_images/gif/load.gif">
</div>
