$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

//@import 'sass-bootstrap/lib/bootstrap';
@import url("https://fonts.googleapis.com/css?family=Lato");

.bmm-flag {
	width: 1.7em;
	height: 1.4em;
}

.bmm-zip {
	width: 2.5em;
	height: 2em;
	display: inline-block;
	float: right;
}

a:focus { outline: none }
a {
	text-decoration: none !important;
    outline: none;
}
a img {
  outline: none;
}
img {
  border: none;
}

input, button {
  line-height: normal!important;
}

ul, li {
  list-style-type: none;
}

.latest {
  cursor: pointer;
}

.latest:hover {
  background: #EEE;
  box-shadow: 0 0 .5em #CCC;
}

.latest.ui-draggable-dragging {
  width: 17em;
}

.latest.long.ui-draggable-dragging {
  width: 30em;
}

.ui-draggable-dragging {
  padding: .2em .2em .4em .2em;
  box-shadow: 0 0 .4em #999;
  background: #eee;
  cursor: pointer;
}