//Disabling the sass version of bootstrap
//using the precompiled version instead.
//@import "_bootstrap";
@import "common/_main";

// Sprite for the flags
@import "../../.tmp/styles/flags-sprite.scss";
@mixin flag-sprites($sprites) {
    @each $sprite in $sprites {
      $sprite-name: nth($sprite, 10);
      .flags-#{$sprite-name} {
        @include sprite($sprite);
      }
    }
  }
@include flag-sprites($spritesheet-sprites);

$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

//@import 'sass-bootstrap/lib/bootstrap';
@import url("https://fonts.googleapis.com/css?family=Lato");

@media screen and (max-width: 935px) {

  .menu li.facebook-icon,
  .menu li.instagram-icon,
  .menu li.twitter-icon {
    display: none;
  }

  .menu li.facebook-icon a,
  .menu li.instagram-icon a,
  .menu li.twitter-icon a {
    padding: .85em;
    background-size: 1em 1em;
  }

}