@import url("https://fonts.googleapis.com/css?family=Lato");
.bmm-flag {
  width: 1.7em;
  height: 1.4em; }

.bmm-zip {
  width: 2.5em;
  height: 2em;
  display: inline-block;
  float: right; }

a {
  text-decoration: none !important; }

input, button {
  line-height: normal !important; }
