<?xml version="1.0"?>

<configuration>
    <location path="index.html">
        <system.webServer>
            <staticContent>
                <clientCache cacheControlMode="DisableCache" />
            </staticContent>
        </system.webServer>
    </location>
    <location path="logout-redirect.html">
        <system.webServer>
            <httpProtocol>
                <customHeaders>
                    <add name="Content-Security-Policy" value="frame-ancestors https://*.bcc.no" />
                </customHeaders>
            </httpProtocol>
        </system.webServer>
    </location>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
        </staticContent>
        <rewrite>
            <rules>
                <clear />
                <!-- catch all requests to non-existing directories -->
                <rule name="AngularJS URL Rewrite" enabled="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_FILENAME}" pattern=".*\.[\d\w]+$" negate="true" /> <!-- don't catch files with a file ending -->
                    </conditions>
                    <action type="Rewrite" url="index.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration> 
