[navigator] {
  position: absolute;
  margin-top: $headerHeight;
  padding: 0 1em;
  width: $navigationWidth;
  overflow: auto;
  z-index: 4;
  border-right: .1em solid $colorBorderLight;

  @include transition(margin-left);
  h2 {
    margin-left: .2em;
  }
  .settings:hover {
    background-color: #E2FFC8;
  }
  .settings {
    float: left;
    margin-top: .5em;
    width: 100%;
    text-align: left;
    padding: .6em;
    background-color: transparent;
    background-image: url(../images/common/svg/v3/Icon_Settings.svg);
    background-position: right .2em top .4em;
    background-size: 1.7em 1.7em;
    background-repeat: no-repeat;
    border: .1em solid $colorBorders;
    border-radius: .3em;
  }
  .suport {
    line-height: normal!important;
    background-image: url(../images/common/svg/v3/Icon_Support.svg);
    color: black!important;
    background-size: 1.6em 1.6em;
    background-position: right .25em top .4em;
  }

}

.fixed[navigator] {
  position: fixed;
  margin-top: $topbarHeight!important;
  top: 0;
  bottom: $playerHeight;
}

.absolute[navigator] {
  padding-bottom: $playerHeight;
}

.nav-toggle {
  display: none;
  position: absolute;
  margin-top: $headerHeight + .5em;
  width: 1.6em;
  height: 2em;
  background-image: url(../images/common/svg/toggle.svg);
  background-position: .6em .43em;
  background-size: 0.29em 1.17em;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 3;

  @include transition(margin-left);
}

.nav-toggle.fixed {
  position: fixed;
  margin-top: .5em;
}

.playlists-generated {
  margin: 0;
  padding: 1em 0;
  border-top: .1em solid $colorBorderLight;
  border-bottom: .1em solid $colorBorderLight;
  list-style-type: none;
  a, span {
    color: #000;//$colorForeground;
    cursor: pointer;
  }
  span:hover {
    color: #03D67F;
  }
  li {
    @include bmm-transition(all, .2s);
    background-image: url(../images/common/svg/v3/Icon_Playlist.svg);
    background-size: 2em 2em;
    background-position: 0 .45em;
    background-repeat: no-repeat;
    border: .2em solid transparent;
    padding: .8em 0 .1em 2.7em;
  }
  li:hover {
    a {
      color: #03D67F;
    }
  }
}

.playlists-add {
  background-color: transparent;
  width: 100%;
  padding: .5em 0;
  text-align: left;
  span {
    @include bmm-transition(all, .2s);
    font-weight: bold;
    background-color: #03d67f;
    background-image: url(../images/common/svg/v3/Icon_plus.svg);
    background-size: .8em .8em;
    background-position: .75em .8em;
    background-repeat: no-repeat;
    display: inline-block;
    width: 100%;
    margin-top: 1em;
    padding: .5em 0 .5em 2.7em;
    border-radius: 2em;
    cursor: pointer;
    color: #fff;//$colorForeground;
    border: .2em solid transparent;
  }
  span:hover {
    background-color: #0AB66F;
  }
}

.playlists-private {
  margin: 0 0 1em 0;
  padding: 0;
  list-style-type: none;
  a {
    color: #000;//$colorForeground;
  }
  li {
    position: relative;
    background-image: url(../images/common/svg/v3/Icon_Playlist.svg);
    background-size: 2em 2em;
    background-position: 0 .45em;
    background-repeat: no-repeat;
    padding: .8em 0 .1em 2.7em;
    border: .2em solid transparent;
    border-radius: .2em;
    .edit, input:nth-child(2) {
      position: absolute;
      right: 0;
      bottom: 0;
      height: 1.5em;;
      width: 1.5em;
      background-image: url(../images/common/svg/v3/Icon_Edit.svg);
      background-position: center center;
      background-size: 1.2em 1.2em;
      background-repeat: no-repeat;
      opacity: 0;
      cursor: pointer;
    }
    button {
      position: absolute;
      left: .5em;
      top: .7em;
      height: 1.4em;
      width: 1.1em;
      background-image: url(../images/common/svg/v3/Icon_Delete.svg);
      background-size: contain;
      background-repeat: no-repeat;
      opacity: 0;
      cursor: pointer;
    }
    input:first-child {
      border: .1em solid #CDD6E9;
      width: $navigationWidth - 7.6em;
    }
    input:nth-child(2) {
      position: absolute;
      height: 1.6em;
      bottom: 0;
      width: 1.3em;
      margin: 0;
      padding: 0;
      display: inline-block;
      background-color: transparent;
      background-image: url(../images/common/svg/v3/Icon_Playlist-Accept.svg);
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
      opacity: 1;
    }
    input:nth-child(2):hover {
      background-image: url(../images/common/svg/v3/Icon_Playlist-Accept_hover.svg);
    }
    button {
     background-color: transparent;
     opacity: 1;
    }
  }
  li:hover {
    .edit {
      opacity: 1;
    }
    a {
      color: #03D67F;
    }
  }
  li.playlists-new {
    background-image: none;
  }
  li.bmm-playlist-private.edited {
    background-image: none;
  }
  li.bmm-playlist-private.active {
    border: .2em rgba(0, 0, 0, 0.18) dashed;
  }
  li.bmm-playlist-private.active.hover {
    border: .2em rgba(0, 0, 0, 1) dashed;
  }
}

.background {
  position: fixed;
  top: 0;
  bottom: $playerHeight;
  width: $navigationWidth;
  //background-color: $colorBackground;
  //border-right: .1em solid $colorBorders;
  z-index: 3;

  @include bmm-transition();
}

//Admin only
.quick-menu {
  margin: 0 .5em;
  span {
    font-weight: bold;
  }
  select {
    width: 100%;
    margin-bottom: .2em;
  }
  button:hover {
    background-color: #E3F7C5;
  }
  button, input[type='submit'] {
    color: #333;
    border-radius: .2em;
  }
  .track {
    position: relative;
    text-align: left;
    margin-bottom: .3em;
    background-color: #E0E7DA;
    width: 100%;
    cursor: pointer;
    padding: .5em;
    .order {
      position: absolute;
      padding-top: .5em;
      right: 0;
      top: 0;
      height: 100%;
      width: 2em;
      color: white;
      text-align: center;
      font-weight: bold;
      background-color: #414141;
    }
  }
  .track:hover {
    background-color: #E3F7C5;
  }
}

//Topbar changes to absolute
@media
screen and (max-height: $maxHeight) {

  .fixed.fixedSmall[navigator] {
    position: fixed;
    margin-top: 0 !important;
    top: 0;
    bottom: $playerHeight;
  }
  .absolute[navigator], .fixed[navigator] {
    position: absolute;
    margin-top: $headerHeight;
    bottom: auto;
  }
  .nav-toggle.fixed.fixedSmall {
    position: fixed;
    top: 0;
    margin-top: .5em;
  }
  .nav-toggle.absolute, .nav-toggle.fixed {
    position: absolute;
    margin-top: $headerHeight + .5em;
    top: auto;
  }

}

@media
screen and (max-height: $maxHeight) and (max-width: $mobileWidth) {
  .nav-toggle.absolute {
    position: absolute !important;
    top: auto !important;
    margin-top: .5em !important;
  }
  .absolute[navigator] {
    position: absolute !important;
    top: auto !important;
    margin-top: 0 !important;
    bottom: auto !important;
  }
  .nav-toggle {
    top: 0 !important;
    margin-top: .5em !important;
  }
  [navigator] {
    top: 0 !important;
    margin-top: 0 !important;
  }
}

@media screen and (max-width: $mobileWidth) {
  [navigator] {
    position: fixed !important;
    margin-top: $topbarHeight;
    top: 0 !important;
    bottom: $playerHeight !important;
  }
  .nav-toggle {
    position: fixed !important;
    margin-top: .5em !important;
  }
}

@media screen and (max-width: $maxWidth) {
  [navigator] {
    overflow: hidden;
  }
  [navigator], .background {
    margin-left: $navigationMinWidth - $navigationWidth;
  }

  [navigator].visible {
    overflow: auto;
  }
  [navigator].visible, .background.visible {
    margin-left: 0;
  }

  .nav-toggle {
    display: inline-block;
    background-color: $colorBackground;
    background-image: url(../images/common/svg/toggle_closed.svg);
    margin-left: $navigationMinWidth;
  }
  .nav-toggle.visible {
    background-image: url(../images/common/svg/toggle.svg);
    margin-left: $navigationWidth;
  }
}