.options {
  position: relative;
  height: 1.9em;
  width: .7em;
  margin: .8em .5em 0 .5em;
  background: none;
  text-align: left;
  font-size: 1.2em;
  .optionsToggl {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: url(../images/common/svg/v3/Lists_Options.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .optionsToggl:hover {
    background-image: url(../images/common/svg/v3/Lists_Options_Hover.svg);
  }
  .arrow {
    position: absolute;
    width: .5em;
    height: .5em;
    background: #ECECEC;
    top: 100%;
    margin-top: .25em;
    right: .15em;
    -webkit-transform: rotate(45deg);
    -ms-transform:rotate(45deg);
    transform:rotate(45deg);
    border-radius: .2em;
  }
  ul {
    background: $colorPopup;
    top: 100%;
    margin-top: .5em;
    right: -.5em;
    position: absolute;
    border: .1em solid $colorBorders;
    border-radius: .3em;
    color: #000;
    z-index: 5;
    font-size: .8em;
    li {
      cursor: pointer;
      height: 2.3em;
      padding: .5em 0;
      border-bottom: .1em solid $colorBorders;
      white-space: nowrap;
      a {
        width: 100%;
        height: 100%;
        color: #000;
        display: inline-block;
      }
      .icon {
        display: inline-block;
        background-size: contain;
        background-repeat: no-repeat;
        height: 1.5em;
        width: 1.4em;
        margin: 0 .4em 0 .6em
      }
      .icon-flag {
        display: inline-block;
        background-repeat: no-repeat;
        width: 1.6em;
        height: 1.1em;
        margin: 0 .2em 0 .6em
      }
      .icon.share { background-image: url('../images/common/svg/v3/Icon_Options_Share.svg'); }
      .icon.playlist { background-image: url('../images/common/svg/v3/Icon_Options-Playlist.svg'); }
      .icon.download { background-image: url('../images/common/svg/v3/Icon_Options-Download.svg'); }
      .icon.album { background-image: url('../images/common/svg/v3/Icon_Options-Album.svg'); }
      .icon.settings { background-image: url('../images/common/svg/v3/Icon_Options-Settings.svg'); }
      .icon.details { background-image: url('../images/common/svg/v3/Icon_Options-Info.svg'); }
      .icon.go-back { background-image: url('../images/common/svg/v3/Icon_Back_Arrow.svg'); }
      .icon.delete {
        background-image: url('../images/common/svg/v3/Icon_Delete.svg');
        background-position: .25em 0;
      }
      span {
        font-size: .9em;
        bottom: .2em;
        position: relative;
        margin-right: .8em;
      }
    }
    li:hover {
      background-color: $colorPopupHover;
    }
    li:first-child {
      border-top-left-radius: .3em;
      border-top-right-radius: .3em;
    }
    li:last-child {
      border-bottom-left-radius: .3em;
      border-bottom-right-radius: .3em;
      border-bottom: none;
    }
  }
}