[player] {
  @include bmm-transition(height);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: $playerHeight;
  background-color: $colorPlayer;
  z-index: 5;
  color: $colorPlayerText;

  .behind {
    position: absolute;
    top: 0;
    right: 0;
    background-color: $colorPlayerElements;
    width: 0;
    height:100%;
  }

  .videoscreen.ui-resizable-resizing {
    @include transition(none);
  }
  .videoscreen.ng-hide {
    display: block !important;
    height: 0 !important;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .videoscreen {
    @include transition(height); //Must fire CSS change in player.js after transition
    position: absolute;
    width: 100%;
    bottom: 99%;
    height: $videoHeight;
    background-color: $colorPlayer;
    overflow: hidden;
    padding: 1.5em 0;
    border-bottom: .1em solid #173541;
    .page-positioning {
      position: relative;
      height: 100%;
      .videoClose:hover {
        opacity: 1;
      }
      .videoClose {
        position: absolute;
        right: .5em;
        width: 1.2em;
        height: 1.2em;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url(../images/common/svg/v3/Player_Cross_green.svg);
        opacity: .8;
        cursor: pointer;
      }
      .display {
        position: relative;
        margin: auto;
        height: 100%;
        width: $videoHeight * (16/9);
        max-width: 90%;
        .video-target {
          background-color: #000;
        }
        .fullscreen-toggle:hover {
          cursor: pointer;
          opacity: 1;
        }
        .fullscreen-toggle.unvisible {
          opacity: 0;
        }
        .fullscreen-toggle {
          @include transition(opacity, .5s);
          position: absolute;
          bottom: .7em;
          background-image: url(../images/common/svg/v3/Icon_Fullscreen.svg);
          background-size: contain;
          background-repeat: no-repeat;
          width: 2em;
          height: 1.7em;
          right: .8em;
          z-index: 1;
          opacity: .7;
        }
        .fullscreen-controllers.unvisible {
          opacity: 0;
        }
        .fullscreen-controllers {
          @include transition(opacity, .5s);
          position: absolute;
          width: 100%;
          bottom: 0;
          padding: .5em .5em 0;
          background-color: $colorPlayer;
          > div {
            float: left;
          }
          .duration {
            margin: .4em .4em 0 1.3em;
          }
          .slider {
            float: none;
            overflow: hidden;
            padding: 1em 1em .7em;
          }
          .fullscreen-toggle.unvisible {
            opacity: .7;
          }
          .fullscreen-toggle {
            background-image: url(../images/common/svg/v3/Icon_Close_Fullscreen.svg);
            position: relative;
            float: right;
            right: auto;
            bottom: auto;
            margin: .3em .5em .5em;
          }
          .previous:hover {
            background-image: url(../images/common/svg/v3/Player_Prev_Hover.svg);
          }
          .previous {
            cursor: pointer;
            margin: .6em .8em 0 0;
            width: 1.6em;
            height: 1em;
            background-image: url(../images/common/svg/v3/Player_Prev.svg);
            background-size: contain;
            background-repeat: no-repeat;
          }
          .play:hover {
            background-image: url(../images/common/svg/v3/Player_Play_Hover.svg);
          }
          .play {
            cursor: pointer;
            width: 1.3em;
            height: 1.5em;
            margin-top: .3em;
            background-image: url(../images/common/svg/v3/Player_Play.svg);
            background-size: contain;
            background-repeat: no-repeat;
          }
          .play.pause {
            background-image: url(../images/common/svg/v3/Icon_Pause.svg);
          }
          .play.pause:hover {
            background-image: url(../images/common/svg/v3/Icon_Pause_Hover.svg);
          }
          .next:hover {
            background-image: url(../images/common/svg/v3/Player_Next_Hover.svg);
          }
          .next {
            cursor: pointer;
            margin: .6em 0 0 .8em;
            width: 1.59em;
            height: 1em;
            background-image: url(../images/common/svg/v3/Player_Next.svg);
            background-size: contain;
            background-repeat: no-repeat;
          }
          .mute:hover {
            opacity: 1;
          }
          .mute {
            cursor: pointer;
            float: right;
            opacity: .8;
            width: 1.3em;
            height: 1.4em;
            margin: .4em .6em 0 0;
            background-image: url(../images/common/svg/v3/Icon-No-Audio.svg);
            background-size: contain;
            background-repeat: no-repeat;
          }
          .mute.active {
            background-image: url(../images/common/svg/v3/Icon-Mute.svg);
          }
          .volume {
            margin: .9em;
            width: 5em;
            float: right;
          }
        }
      }
    }
  }

  .about:hover {
    width: auto;
    div {
      overflow: visible;
    }
  }
  .about {
    min-width: 18em;
    width: 18em;
    float: left;
    margin: .6em .6em .6em 1em;
    img {
      width: auto;
      min-width: 3.8em;
      height: 3.8em;
      margin-right: .5em;
      background-color: #000;
      border-radius: .4em;
      float: left;
    }
    h3 {
      padding-top: .6em;
      font-size: 1em;
      font-weight: 700;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0;
    }
    div {
      font-size: .9em;
      line-height: 1.2em;
      font-style: italic;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-left: 4em;
      color: $colorPlayerTextSecondary;
    }
  }
  .options {
    float: right;
    margin: 1.5em 1em 0 0;
    .optionsToggl {
      background-image: url(../images/common/svg/v3/Player_Options.svg);
    }
    .optionsToggl:hover {
      background-image: url(../images/common/svg/v3/Player_Options_Hover.svg);
    }
    .arrow {
      background: #FFF;
      top: auto;
      margin-top: auto;
      bottom: 100%;
      margin-bottom: .25em;
      right: .15em;
      z-index: 6;
    }
    ul {
      bottom: 100%;
      top: auto;
      margin-top: auto;
      margin-bottom: .5em;
      li span {
        bottom: .4em;
      }
    }
  }
  .volumeControllers {
    width: 10em;
    float: right;
    margin-right: 1.3em;
    .volume {
      margin-top: 3.2em;
    }
    .mute:hover {
      opacity: 1;
    }
    .mute {
      cursor: pointer;
      opacity: .8;
      float: left;
      width: 1.3em;
      height: 1.4em;
      margin: 1.1em 0 0;
      background-image: url(../images/common/svg/v3/Icon-No-Audio.svg);
      background-size: contain;
      background-repeat: no-repeat;
    }
    .mute.active {
      margin-left: -.2em;
      background-image: url(../images/common/svg/v3/Icon-Mute.svg);
    }
    .mute:hover {
      opacity: 1;
    }
    .max {
      opacity: .8;
      cursor: pointer;
      float: right;
      width: 1.6em;
      height: 1.4em;
      margin: 1.1em 0 0;
      background-image: url(../images/common/svg/v3/Icon_Audio.svg);
      background-size: contain;
      background-repeat: no-repeat;
    }
    .max:hover {
      background-image: url(../images/common/svg/v3/Icon_Audio_Hover.svg);
    }
  }
  .videoOpen:hover {
    opacity: 1;
  }
  .videoOpen {
    position: absolute;
    top: -1.4em;
    right: .65em;
    width: 1.5em;
    height: 1.5em;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/common/svg/v3/Icon_Arrow_up.svg);
    opacity: .8;
    cursor: pointer;
  }
  .mainControllers {
    padding: 1em 2em 1em 1em;
    overflow: hidden;
    font-weight: bold;
    white-space: nowrap;
    .current {
      float: left;
      margin-top: .2em;
    }
    .remaining {
      float: right;
      margin-top: .2em;
    }
    .slider {
      margin-top: 2.5em;
    }
    .centered {
      margin: auto;
      width: 8em;
      > div {
        float: lefT;
      }
      .repeat.active {
        background-image: url(../images/common/svg/v3/Icon_Repeat_Active.svg);
      }
      .repeat:hover, .repeat.active:hover {
        opacity: 1;
      }
      .repeat {
        opacity: .8;
        position: absolute;
        cursor: pointer;
        width: 1.7em;
        height: 1.5em;
        margin: 0 .7em 0 8.6em;
        background-image: url(../images/common/svg/v3/Icon_Repeat.svg);
        background-size: contain;
        background-repeat: no-repeat;
      }
      .previous:hover {
        background-image: url(../images/common/svg/v3/Player_Prev_Hover.svg);
      }
      .previous {
        cursor: pointer;
        margin: .3em 1.5em 0 0;
        width: 1.6em;
        height: 1em;
        background-image: url(../images/common/svg/v3/Player_Prev.svg);
        background-size: contain;
        background-repeat: no-repeat;
      }
      .play:hover {
        background-image: url(../images/common/svg/v3/Player_Play_Hover.svg);
      }
      .play {
        cursor: pointer;
        width: 1.3em;
        height: 1.5em;
        background-image: url(../images/common/svg/v3/Player_Play.svg);
        background-size: contain;
        background-repeat: no-repeat;
      }
      .play.pause {
        background-image: url(../images/common/svg/v3/Icon_Pause.svg);
      }
      .play.pause:hover {
        background-image: url(../images/common/svg/v3/Icon_Pause_Hover.svg);
      }
      .next:hover {
        background-image: url(../images/common/svg/v3/Player_Next_Hover.svg);
      }
      .next {
        cursor: pointer;
        margin: .3em 0 0 1.2em;
        width: 1.59em;
        height: 1em;
        background-image: url(../images/common/svg/v3/Player_Next.svg);
        background-size: contain;
        background-repeat: no-repeat;
      }
      .shuffle.active {
        background-image: url(../images/common/svg/v3/Icon_Shuffle_Active.svg);
      }
      .shuffle:hover, .shuffle.active:hover {
        opacity: 1;
      }
      .shuffle {
        opacity: .8;
        position: absolute;
        cursor: pointer;
        width: 1.5em;
        height: 1.5em;
        margin: 0 0 0 -2.8em;
        background-image: url(../images/common/svg/v3/Icon_Shuffle.svg);
        background-size: contain;
        background-repeat: no-repeat;
      }
      .videoFirst.active {
        background-image: url(../images/common/svg/v3/Icon_Video_Active.svg);
      }
      .videoFirst:hover, .videoFirst.active:hover {
        opacity: 1;
      }
      .videoFirst {
        opacity: .8;
        position: absolute;
        cursor: pointer;
        width: 1.7em;
        height: 1.22em;
        margin: .2em 0 0 11em;
        background-image: url(../images/common/svg/v3/Icon_Video.svg);
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
  .scroller {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: .4em;
    z-index: -1;
    span {
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      @include marquee();
      padding-left: 100%;
    }
  }

}


@media screen and (min-width: $mobileWidth) {
  [player] {
    .scroller {
      display: none;
    }
  }
}

@media screen and (max-width: $mobileWidth) {
  [player] .scroller {
    padding: 0;
  }
  [player] .about {
    display: none;
  }
  [player] .mainControllers {
    padding-top: 1.7em !important;
  }
  [player] .options {
    margin-top: 2em;
  }
}

@media screen and (max-width: $maxWidth) {
  [player] .about {
    min-width: 10em;
    width: 10em;
    div {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  [player] {
    .shuffle,
    .repeat,
    .volumeControllers {
      display: none;
    }
    .mainControllers {
      padding: 1em;
      min-width: 17em;
    }
    .videoFirst {
      margin: 0 0 0 8.5em !important;
    }
  }
}