[ng-view] {
  $animate: margin-left;
  @include bmm-transition($animate);
  position: absolute;
  left: 0;
  right: 0;
  margin: $headerHeight 0 0 $navigationWidth;
  padding: 0 1.7em $playerHeight+2em;
  z-index: 2;

  input {
    border: .1em solid $colorBorderLight !important;
  }

  > div {
    float: left;

    h2 {
      display: block;
      clear: both;
    }
  }

  h2, h3 {
    width: 100%;
    float: none;
  }
  h2 {
    display: inline-block;
  }
}

.push-messages {
  position: relative;
  background-color: $colorLightGreen;
  width: 100%;
  overflow: hidden;
  ul {
    li {
      position: relative;
      padding: .5em;
      text-align: center;
      font-weight: bold;
      color: white;
      border-bottom: .1em solid rgba(255, 255, 255, 0.4);
      button {
        padding: .3em 1em;
        border-radius: 3em;
        border: .1em solid white;
        color: white;
        font-weight: bold;
        font-size: 1.2em;
        background-color: transparent;
        margin-left: 1em;
      }
      button:hover {
        background-color: #FFF;
        color: #000;
      }
      .exit {
        position: absolute;
        top: 1em;
        right: 0;
        width: 1.3em;
        height: 1.3em;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url(../images/common/svg/v3/Cross_white.svg);
        opacity: .6;
        cursor: pointer;
      }
      .exit:hover {
        opacity: 1;
      }
    }
    li:last-child {
      border-bottom: none;
    }
  }
}

.foreground {
  position: fixed;
  top: 0;
  bottom: $playerHeight;
  width: 100%;
  max-width: $pageWidth;
  //background-color: $colorForeground;
  z-index: 0;
}

@media screen and (min-width: $mobileWidth) {
  [ng-view] {
    overflow-x: hidden;
  }
}

@media screen and (max-width: $maxWidth) {
  [ng-view] {
    margin-left: $navigationMinWidth;
  }
  //Visible means navigator is visible @todo - change name
  [ng-view].visible {
    overflow: hidden;
    margin-left: $navigationWidth;
  }
}

@media screen and (max-width: $mobileWidth) {
  [ng-view] {
    margin-top: 0;
  }
}