.sub-header {
  width: 100%;
  z-index: 4;
}

header {
  @include transition(margin-top);
  position: absolute;
  top: $topbarHeight;
  height: $headerHeight;
  width: 100%;
  background-color: #fff;//$colorMain;
  box-shadow: 0 0 .3em rgba(31,31,31,.2);
  z-index: 5;
  .wrapper {
    margin-top: 2.3em;
  }
  .page-positioning {
    position: relative;
    .menu {
      float: right;

    }
  }
}

.sub-header {
  display: none;//inline-block;
  border-bottom: none;
  background-color: transparent;

  .logo {
    display: inline-block;
    position: relative;
    margin: .7em 0 0 .6em;
  }
  .menu {
    float: left;
    width: 100%;
    margin: .5em 0;
    li {
      width:100%;
      padding: 0 .5em;
      a {
        padding: .5em 0 .5em .2em;
        display: inline-block;
        width: 100%;
        border-radius: 1em;
        border: .15em solid #fff;
      }
      a:hover {
        color: #03d67f;
      }
      a.active {
        border-color: #03d67f;
        color: #03d67f;
      }
    }
  }
  .search {
    width: 100%;
    padding: 0 .5em;
    float: none;
    margin: .8em 0 0 0;
    border: none;
    form {
      border-radius: .25em;
      border: .1em solid $colorBorderLight;
      div {
        margin-right: 3em;
        input {
          background-image: none;
          //background-color: $colorForeground;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          border-top-left-radius: .2em;
          border-bottom-left-radius: .2em;
          width: 100%;
        }
      }
    }
  }
}

.search {
  position: relative;
  margin: .4em 0 0 16em;
  width: 16em;
  float: left;
  z-index: 1;
  border-radius: .25em;
  border: .1em solid $colorBorderLight;
  padding: .1em 0;

  > * {
    float: left;
  }

  form {
    width: 100%;
  }

  input {
    height: 1.7em;
    float: left;
    ::-webkit-input-placeholder { color: $colorPlaceholder; }
    :-moz-placeholder { color: $colorPlaceholder; }
    ::-moz-placeholder { color: $colorPlaceholder; }
    :-ms-input-placeholder { color: $colorPlaceholder; }
  }

  input:first-child {
    padding: .1em .5em;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 12.8em;
  }
  input:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: .4em;
    border-bottom-right-radius: .4em;
    background-image: url(../images/svg/v3/Icon_Search.svg);
    background-size: 1.3em 1.2em;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    width: 3em;
    padding: 0;
  }
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: .5em;


}

.menu {
  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    a {
      @include bmm-transition(all, .2s);
      padding: .3em .65em;
      color: #000;//$colorForeground;
      border-radius: .2em;
      border-radius: 1em;
      border: .15em solid transparent;
    }
    a:hover {
      color: #03d67f;
    }
    a.active {
      border-color: #03d67f;
      color: #03d67f;
    }
  }
  li.facebook-icon {
    margin-left: 3.2em;
    width: 2.2em;
    a {
      position: absolute;
      display: inline-block;
      background-image: url(../images/svg/v3/facebook.svg);
      background-size: 1em 1em;
      background-position: .25em .3em;
      background-repeat: no-repeat;
      width: 1.4em;
      height: 1.4em;
      border: 1px solid #ECECEC;
      border-radius: 50%;
      padding: 10px;
      margin: -1.25em;
    }
  }
  li.twitter-icon {
    width: 2.2em;
    a {
      position: absolute;
      display: inline-block;
      background-image: url(../images/svg/v3/twitter.svg);
      background-size: 1em 1em;
      background-position: .3em .3em;
      background-repeat: no-repeat;
      width: 1.4em;
      height: 1.4em;
      border: 1px solid #ECECEC;
      border-radius: 50%;
      padding: 10px;
      margin: -1.25em;
    }
  }
  li.instagram-icon {
    width: 2.2em;
    a {
      position: absolute;
      display: inline-block;
      background-image: url(../images/svg/v3/instagram.svg);
      background-size: .9em .9em;
      background-position: .38em .37em;
      background-repeat: no-repeat;
      width: 1.4em;
      height: 1.4em;
      border: 1px solid #ECECEC;
      border-radius: 50%;
      padding: 10px;
      margin: -1.25em;
    }
  }
  li.facebook-icon a:hover,
  li.twitter-icon a:hover,
  li.instagram-icon a:hover{
    background-color: #ECECEC;
    border-color: transparent;
  }
}

.logo {
  position: absolute;
  left: 0;
  margin: -.5em 0 0 .6em;
  background-image: url(../images/svg/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 7.5em;
  height: 2.8em;
}

@media screen and (max-width: $mobileWidth) {
  header {
    margin-top: -$headerHeight;
    height: 0;
    overflow: hidden;
  }
  .sub-header {//.ng-hide {
    display: inline-block !important;
  }
}