.popup {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 53, 71, 0.7);
  overflow: auto;
  z-index: 90000;
  > .container {
    position: absolute;
    display: table;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    .link:hover {
      color: #009B1F;
      cursor: pointer;
    }

    .verticalCenter {
      display: table-cell;
      vertical-align: middle;
      padding: 0 1em;
      > .container {
        position: relative;
        margin: auto;
        max-width: 27em;
        min-height: 3em;
        border-radius: .3em;
        padding: 1em 1.5em;
        background-color: #fff;

        .exit {
          position: absolute;
          right: 1.5em;
          width: 1.2em;
          height: 1.2em;
          background-repeat: no-repeat;
          background-size: contain;
          background-image: url(../images/svg/v3/Cross_green.svg);
          opacity: .6;
          cursor: pointer;
        }
        .exit:hover {
          opacity: 1;
        }

        ul.playlist {
          li {
            position: relative;
            background-image: url(../images/svg/v3/Icon_Playlist.svg);
            background-size: 2em 2em;
            background-position: .4em .4em;
            background-repeat: no-repeat;
            padding: .7em 0 .7em 3em;
            border-radius: .3em;
            cursor: pointer;
          }
          li:hover {
            background-color: $colorPopupHover;
          }
        }

        .language_element {
          padding-bottom: .5em;
          padding-top: .5em;
          border-bottom: .1em solid #ECECEC;
          height: 3.5em;
          background-color: white;
        };

        .language_element:first-child {
          border-top: .1em solid #ECECEC;
        };

        .languages-add {
          margin-top: 1em;
          margin-right: .5em;
          background-color: #03d67f;
          background-image: url(../images/svg/v3/bb329266.Icon_plus.svg);
          background-size: .8em .8em;
          background-position: .8em .7em;
          background-repeat: no-repeat;
          display: inline-block;
          padding: .25em 1em .2em 2.1em;
          border-radius: .5em;
          cursor: pointer;
          color: #fff;//$colorForeground;
          border: .2em solid transparent;
          white-space: nowrap;
        };

        .languages-add:hover {
          background-color: #0AB66F;
        };


        .dropdown {
          float: left;
          width: 70%;
          > a {
            > div {
              display: inline-block;
              width: 2em;
              height: 1.1em;
              margin: -.1em;
            }
            display: inline-block;
            color: #000;
            cursor: pointer;
            border-radius: .2em;
            padding: .4em .8em;
            border: .1em solid $colorBorders;
            width: 100%;
          }
          > ul > li > a {
            padding: .0em 0 0 2em!important;
            margin: .5em;
            height: 1.1em;
          }
          > ul > li:hover {
            color: #262626;
            background-color: #F5F5F5;
          }
          > ul > li {
            display: inline-block;
            width: 100%;
            cursor: pointer;
          }
          .dropdown-menu {
            float: none;
            width: 100%;
            overflow: hidden;
          }
          .dropdown-toggle {
            background-color: white;
          }
        }

        .btn_sort {
          margin-left: .4em;
          margin-right: .4em;
          float:right;
          font-size: 1.5em;
          color: #c4c4c4;
        }

        .invisible {
          visibility: hidden;
        }

        .btn_remove {
          @extend .btn_sort;
          color: red;
          font-size: 1.7em;
          margin-right: .7em;
        }

        select {
          width: 100%;
          height: 2.4em;
          background: none;
          border-radius: .2em;
          border: .1em solid $colorBorders;
          padding: 0 .5em;
        }

      }
    }

  }
}