.search-result {
  margin-bottom: .5em;
  overflow: hidden;
  img {
    height: 6em;
    width: auto;
    float: left;
  }
  .bullet {
    padding-top: 2em;
    height: 4.6em;
    width: 1.8em;
    text-align: center;
    background: #C0C0C0;
    float: left;
    color: #FFF;
    font-weight: 700;
    font-size: 1.3em;
  }
  .content {
    display: table;
    padding-left: .5em;
    h3 {
      font-size: 1.2em;
      padding: 0;
      margin: 0;
    }
    span {
      display: block;
      font-size: .9em;
    }
  }
}

//Draggable latest list
.latest {
  cursor: pointer;
}

.latest:hover {
  background: #E6E6E6;
  box-shadow: 0 0 .5em #CCC;
}
.latest.ui-draggable-dragging {
  width: 17em;
}

.latest.long.ui-draggable-dragging {
  width: 35em;
}

.ui-draggable-dragging {
  padding: .2em .2em .4em .2em;
  box-shadow: 0 0 .4em #999;
  background: #eee;
  cursor: pointer;
}

//Latest list
.bmm-latest-list {
  width: 23em;
  float: left;
}

.bmm-latest-list.small {
  width: 18em;
  float: left;
  font-size: 100%;
}

.bmm-latest {
  overflow: hidden;
  margin-top: .2em;
  margin-left: .4em;
}

.bmm-latest-bullet {
  background-image: url(../images/svg/v3/Icon_Shape.svg);
  background-size: contain;
  background-repeat: no-repeat;
  padding: .35em 0;
  margin-right: .6em;
  width: 2em;
  height: 4em;
  text-align: center;
  float: left;
}

.bmm-latest-thumbnail {
  display: none;
  width: 2.5em;
  height: 2.5em;
  margin: .5em .4em .5em .7em;
  float: left;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.bmm-latest-title {
  max-width: 30em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 700;
}

.bmm-latest-interprets {
  font-size: .9em;
  color: #ABBED3;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.bmm-latest-about {
  font-size: .8em;
  color: #ABBED3;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.bmm-interpret:hover {
  cursor: pointer;
  background: #EDECEC;
}

.bmm-flag {
  width: 1.7em;
  height: 1.4em;
}

.play-playlist {
  float: none !important;
  margin-right: .5em;
  background-color: #03d67f;
  background-image: url(../images/svg/v3/Icon_Play-small.svg);
  background-size: .8em .8em;
  background-position: .8em .7em;
  background-repeat: no-repeat;
  display: inline-block;
  padding: .35em 1em .4em 2.2em;
  margin-top: 1em;
  border-radius: 1em;
  cursor: pointer;
  color: #fff;//$colorForeground;
  border: .2em solid transparent;
  white-space: nowrap;
}
.play-playlist:hover {
  background-color: #0AB66F;
}

.bmm-zip {
  display: inline-block;
  padding: .4em 1em .4em 2.2em;
  border: .2em solid #03D67F;
  color: #03D67F;
  border-radius: 2em;
  background-image: url(../images/svg/v3/Icon_Download-small.svg);;
  background-size: .5em .8em;
  background-repeat: no-repeat;
  background-position: 1em .75em;
  white-space: nowrap;
}

.bmm-track-download {
  width: 1.8em;
  height: 1.35em;
  margin: .2em 0;
  opacity: .6;
  background-image: url(../images/svg/v3/Icon_Options-Download.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.bmm-player-video {
  width: 1.7em;
  height: 1.35em;
  margin: .3em .3em 0 0;
  opacity: .6;
  background-image: url(../images/svg/v3/Icon_Video.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.bmm-sort {
  opacity: .7;
  width: 1em;
  background: url(../images/svg/v3/Drag_Handle.svg);
  background-position: center center;
  background-size: .6em 1em;
  background-repeat: no-repeat;
}

.bmm-remove-playlist {
  opacity: .6;
  position: relative;
  width: 2em;
  height: 2em;
  display: inline-block;
  background: url(../images/svg/v3/Icon_Delete.svg);
  background-position: center center;
  background-size: 1.2em 1.2em;
  background-repeat: no-repeat;
  cursor: pointer;
}

//Interprets
.bmm-interpret {
  overflow: hidden;
  min-width: 14em;
}

.bmm-interpret-thumbnail {
  width: 3.5em;
  height: 3.5em;
  margin: .5em .4em .5em .7em;
  float: left;
  background-size: contain;
  background-repeat: no-repeat;
}

.bmm-interpret-title {
  padding-top: .5em;
  font-weight: 700;
  font-size: .9em;
}

.bmm-interpret-about {
  font-size: .9em;
  color: #555;
}

//Album latest
.album-latest:first-child {
  margin-left: 0;
  overflow: visible;
  width: auto;
}

.album-latest {
  width: 12em;
  overflow: hidden;
  float: left;
  margin-right: 1.5em;
  margin-bottom: .5em;
}

/*.album-latest:first-child .album-latest-image {
  width: 19.5em;
  height: 20em;
}*/

.album-latest-image {
  width: 12em;
  height: 12em;
  background-size: contain;
  background-repeat: no-repeat;
}

.album-latest-title {
  padding-top: .5em;
  font-weight: 700;
  height: 3.4em;
}

.album-latest-about {
  color: #555;
}

//Music page
.bmm-albums {
  width: 100%;
  margin: 2em 0;
}

.bmm-albums>div {
  background-size: contain;
  background-repeat: no-repeat;
}

.bmm-album {
  display: inline-block;
  position: relative;
  width: 32%;
}

.bmm-album:after {
  content: '';
  display: block;
  margin-top: 90%;
}

.bmm-hover:hover {
  cursor: pointer;
  color: #0087FF;
  opacity: .7;
}

.bmm-kilden {
  background-image: url(../images/svg/mp3kilden.svg);
}

.bmm-barnas {
  background-image: url(../images/svg/barnasmp3.svg);
}

.bmm-instrumental {
  background-image: url(../images/svg/instrumental.svg);
}

//Video
.bmm-latest-video .bmm-latest-thumbnail {
  display: inline-block;
  width: 7.2em;
  height: 4em;
  margin: .1em .5em .1em .1em;
}

//Album
.bmm-thumbnail {
  height: 10em;
  width: 10em;
  float: left;
  margin-top: 1em;
  background-size: contain;
}

@media screen and (max-width: $mobileWidth) {
  //Latest list
  .bmm-latest-list {
    width: 100%;
  }
  .bmm-large-only {
    display: none;
  }
}

@media screen and (max-width: 78em) {
  .largeOnly {
    display: none;
  }
}