.admin {

  [ng-view] {
    padding: 1em 1em $playerHeight+2em 1em;
    .dropdown-menu button {
      color: #333;
    }
    button {
      color: $colorForeground;
      background-color: $colorBackground;
      border-radius: .3em;
      height: 1.5em;
    }
    button:hover {
      color: $colorBackground;
      background-color: $colorForeground;
    }
    button.disabled {
      background-color: silver;
      color: gray;
      cursor: default;
    }
    button.disabled:hover {
      background-color: silver;
    }
  }

  .controlbar {
    width: 100%;
    border: .2em rgba(90, 86, 102, 0.17) dotted;
    padding: .4em;
    button {
      float: right;
    }
  }

  .foldbox {
    $blueHover: #44B4FF;
    $greenHover: #71BB50;
    $redHover: #ff6718;
    $originalColor: #ffd73a;
    position: relative;
    width: 100%;
    padding: 0;
    border: .2em rgba(90, 86, 102, 0.17) dotted;
    margin: .5em 0;

    h3 {
      padding: 0;
      margin: 0;
      font-size: 1.5em;
      line-height: normal;
    }

    h4 {
      padding: 0;
      margin: 0;
      font-size: 1.2em;
      line-height: normal;
    }

    .header {
      padding: .4em;
      cursor: pointer;
    }
    .header:hover {
      background-color: $blueHover;
    }

    .body {
      width: 100%;
      height: 0;
      overflow: hidden;
      .cover {
        position: relative;
        float: right;
        img {
          width: auto;
          height: 10em;
        }
        .new, .trash {
          position: absolute;
          top: .2em;
          width: 1.6em;
          height: 1.6em;
          background-position: center center;
          background-size: 1.2em 1.2em;
          background-repeat: no-repeat;
          background-color: #333;
          border-radius: .2em;
          cursor: pointer;
        }
        .new:hover, .trash:hover {
          background-color: $redHover;
        }
        .new {
          right: 2em;
          background-image: url(../images/svg/edit.svg);
        }
        .trash {
          right: .2em;
          background-image: url(../images/svg/trash.svg);
        }
      }
      ul {
        li {
          cursor: pointer;
          margin: 0 .2em .2em 0;
          padding: .2em .2em .2em .5em;
          border-radius: .2em;
          border: .1em dotted #9E9797;
          .trash, .publish {
            display: inline-block;
            padding: .1em .4em;
            height: 100%;
            color: $colorForeground;
            background-color: #ff4a37;
            float: left;
          }
          .trash:hover, .publish:hover {
            background-color: $redHover;
          }
          .publish {
            background-color: #333;
          }
          span {
            display: inline-block;
            float: left;
            padding: .2em .2em 0 0;
          }
        }
        li:hover {
          background-color: $blueHover;
        }
        li.available:hover {
          background-color: $greenHover;
        }
        li.original {
          background-color: $originalColor;
        }
        li.unpublished {
          opacity: .4;
        }
      }
      .files {
        li {
          display: inline-block;
          padding: .5em;
          cursor: default;
          span {
            display: block;
            float: none;
          }
        }
      }
      .no-hover:hover {
        background-color: transparent;
        cursor: default;
      }
      .bible-results {
        width: 100%;
        display: inline-block;
        > span {
          background-color: #5676AF;
          padding: .2em .5em;
          color: #fff;
        }
        > div {
          > span {
            padding: .15em .5em;
            margin-top: .05em;
            background-color: #8CB5DA;
          }
          > div {
            > span {
              padding: 0 .5em;
              margin-top: .2em;
              background-color: #C2D3FD;
              color: #3A3A3A;
              border-right: .2em solid #A9B4A4;
            }
          }
        }
      }
      .waitings {
        li {
          display: flex;
          img {
            margin: .5em;
            height: 5em;
            width: auto;
            float: left;
          }
          span {
            display: block;
            float: none;
          }
        }
      }

    }
    .body.visible {
      padding: .4em;
      height: auto;
    }
    .language-edit {
      width:100%;
      padding: 1em;
      display: inline-block;
      margin-top: 1em;
      background-color: #D6D6CD;
    }
  }

  .foldbox.fail { background-color: #e42629; }
  .foldbox.done { background-color: #72e439; }

}