<div class="foldbox">
    <div class="header"
         ng-click="_contributor=!_contributor"
         ng-init="_contributor=true">
        <h3>{{init.translation.page.contributors.contributors}}</h3>
    </div>
    <div class="body" ng-class="{'visible': _contributor}">

        <ul>
            <h4>{{init.translation.page.contributors.search}}</h4>
            <input type="text" ng-model="contributor">
            <button ng-click="addContributor(contributor)"
                    style="margin-bottom: .5em">
                {{init.translation.page.editor.createNewContributor}}
            </button>
            <li ng-repeat="contributor in contributors"
                style="width: 100%; display: inline-block"
                ng-click="go('contributors/'+contributor.id);">
                <span>
                    {{contributor.name}} ({{contributor.interpret_references}}|{{contributor.other_references}})
                </span>
            </li>
        </ul>

    </div>
</div>

<div class="controlbar" ng-hide="model.id==undefined">
    <i>{{init.translation.page.editor.lastModified}} <b>{{model['_meta'].modified_at | date:'dd.MM.yyyy HH:mm'}}</b>
        {{init.translation.page.editor.by}} <b><u>{{model['_meta'].modified_by}}</u></b></i>
</div>
<div class="controlbar">
    <b>{{init.translation.page.editor.status}}</b>: {{status}}
    <button ng-click="save();" style="margin-left: .5em">{{init.translation.page.editor.save}}</button>
    <button ng-show="user.username=='simonsimcity' || user.username=='dadde' || user.username=='steffan'"
            ng-click="delete();">
        {{init.translation.page.editor.delete}}</button>
</div>

<div class="foldbox" ng-hide="model.id==undefined">
    <div class="header"
         ng-click="main=!main"
         ng-init="main=true">
        <h3>{{model.name}}</h3>
    </div>
    <div class="body" ng-class="{'visible': main}">
        <div style="float: left; margin-right: 1em">
            <b>{{init.translation.page.contributors.name}}</b><br>
            <input ng-model="model.name" type="text"><br>
            <button ng-click="model.is_visible=!model.is_visible">
                <span ng-show="model.is_visible">{{init.translation.page.editor.unpublish}}</span>
                <span ng-hide="model.is_visible">{{init.translation.page.editor.publish}}</span>
            </button>
        </div>
        <div style="float: left">

        </div>
        <div ng-controller="UploaderCtrl"
             ng-init="initialize($parent.uploadCover);"
             class="cover">
            <div class="new" style="overflow: hidden;">
                <input ng-file-select type="file" style="opacity: 0">
            </div>
            <div class="trash" ng-click="$parent.model.cover=null"></div>
            <img ng-src="{{$parent.model.cover | _cover:'contributor'}}">
            <div class="progress" style="width:{{progress}}%;
                                         background-color: #CAEC81;
                                         background-image: none;
                                         margin: 0"></div>
        </div>
    </div>
</div>

<div class="foldbox" ng-hide="model.id==undefined">
    <div class="header"
         ng-click="_tracks=!_tracks">
        <h3>{{init.translation.page.contributors.tracks}}</h3>
        ({{tracks.length}}<span ng-show="tracks.length==100">+</span>)
    </div>
    <div class="body" ng-class="{'visible': _tracks}">

        <ul>
            <li ng-repeat="track in tracks" class="no-hover"
                style="width: 100%; display: inline-block">
                <span style="width: 100%;">
                    <i>{{track.date | _locals:init.translation['iso-639-1']:'{d}. {SHORTMONTH} {HH}:{mm}'}}</i>
                    (<b>{{track.duration | _time}}</b>)
                    -
                    {{track.combinedTitle}}
                </span>
                <span style="width: 100%;">
                    {{track.albumTitle}}
                </span>
                <button ng-click="play(track)">
                    {{init.translation.page.editor.play}}
                </button>
                <button>
                    <a ng-href="#track/{{track.id}}">
                        {{init.translation.page.waitings.openTrack}}
                    </a>
                </button>
            </li>
        </ul>

    </div>
</div>
