<style type="text/css">
    ol li {
        list-style-type: decimal;
    }
</style>

<h2>Velkommen til BMM Kontrollpanelet</h2>
<br><br>
        <h3>Hvordan legger jeg til en ny sang/video?</h3>

        <br>

        <h4>Forsikre deg om at et passende album eksisterer</h4>

        <h5>Opprettelse av album:</h5>

        <ol>
            <li>Klikk på 'nytt album' i venstre meny</li>
            <li>Velg riktig dato <i>( + Klokkeslett hvis møte)</i></li>
            <li>Velg tilhørende album <b>(Obs! Albumer har kun to nivåer)</b></li>
            <li>Velg språk du vil oversette til</li>
            <li>Velg tags for autogenerering av tittel om passende</li>
            <li>Klikk på <i>'generer tittel basert på tag'</i>. Om tittel ikke dukker opp må du skrive selv</li>
            <li>Sørg for at språket er 'publisert'</li>
            <li>Lagre album - Etter lagring vil du få mulighet til å endre bilde</li>
            <li>Husk alltid å klikke på 'lagre' etter endringer av albumet</li>
            <li>Bilde format: <b>1*1, JPG</b> (Eks. 500px*500px)</li>
        </ol>

        <h5>Opprettelse av track:</h5>

        <ol>
            <li>Klikk på 'ny track' i venstre meny</li>
            <li>Velg riktig dato <i>( + Klokkeslett hvis tale)</i></li>
            <li>Velg media type</li>
            <li>Velg tilhørende album</li>
            <li>Lagre nå tracken for flere valg</li>
            <li>Velg språk du har lyd/video fil til</li>
            <li>I valgt språk kan du laste opp både en lyd fil og en videofil</li>
            <li>Støttede formater: <b>mp3, mp4</b></li>
            <li>Legg til relasjoner som passer til tracken</li>
            <li>Husk alltid å klikke på 'lagre' etter endringer av tracken</li>
            <li>Bilde format: <b>1*1, JPG</b> (Eks. 500px*500px)</li>
        </ol>

        <h5>
        Vi takker hjertelig for alle bidrag som gjør BMM til en ren og god kilde!<br><br>

        Evt. spørsmål kan sendes til <a href="mailto:karsten.kuepper@bcc.no">karsten.kuepper@bcc.no</a>
        </h5>