<h3>Notifications overview</h3>
<p ng-if="loading">Loading ...</p>

<div ng-if="!loading" class="notifications" ng-init="notifications = 0">
    <h4 ng-if="!anyNotification">There is no notification scheduled!</h4>
    <div ng-if="anyNotification">
        <table>
            <thead>
              <tr>
                <th></th>
                <th>Tracks</th>
                <th>Podcast</th>
                <th>Scheduled time</th>
              </tr>
            </thead>
            <tbody ng-repeat="podcast in podcasts">
              <tr ng-repeat="notification in podcast.notifications" ng-init="$root.notifications = $root.notifications + 1; notificationIndex = $root.notifications">
                <td>{{notificationIndex}}</td>
                <td class="tracks">
                  <div ng-repeat="track in notification.tracks">
                    <a href="track/{{track.id}}" ng-click="go('/track/'+track.id);">{{track.title}}</a> ({{track.languages.join(', ')}})
                  </div>
                </td>
                <td><a href="album/{{notification.tracks[0].parent_id}}" ng-click="go('/album/'+notification.tracks[0].parent_id);">{{podcast.title}}</a></td>
                <td>{{notification.scheduledTime | _locals:init.translation['iso-639-1']:'{d}. {SHORTMONTH} {yyyy} - {HH}:{mm}'}} <span ng-if="notification.graceTimeWasUsed">(+{{graceTime}} minutes)*</span></td>
              </tr>
            </tbody>
        </table>

        <p style="font-style: italic;">* Grace time was used and added to the scheduled time</p>
    </div>

    <h4>Explanatory Information</h4>
    <ul>
        <li>To make uploading tracks and sending notifications easier we implemented a grace time. That means if the track was modified up to {{graceTime}} minutes ago, we wait with sending out the notification, giving you the chance to upload additional tracks or fix mistakes in the metadata.</li>
        <li>In addition, we batch notifications for the same podcast, if they are scheduled to be published within {{batchPeriod}} minutes. This prevents "spamming" the user with several notifications within a short period of time.<br />
          For example, if the publish date of the first track is at 10:00 and a second track on 10:50, then the notification for both will be sent at 10:50.</li>
    </ul>
</div>

<br>

<h3>Custom notifications</h3>
<h4>If you want to send a custom notification then go to <a href="custom-notifications" ng-click="go('/custom-notifications')">this page</a>.</h4>
