<h3>Notifications overview</h3>
<p ng-if="loading">Loading ...</p>

<div ng-if="!loading" class="notifications" ng-init="notifications = 0">
    <h4 ng-if="!anyNotification">There is no notification scheduled!</h4>
    <div ng-if="anyNotification">
        <table>
            <thead>
              <tr>
                <th></th>
                <th>Tracks</th>
                <th>Podcast</th>
                <th>Scheduled time</th>
              </tr>
            </thead>
            <tbody ng-repeat="podcast in podcasts">
              <tr ng-repeat="notification in podcast.notifications" ng-init="$root.notifications = $root.notifications + 1; notificationIndex = $root.notifications">
                <td>{{notificationIndex}}</td>
                <td class="tracks">
                  <div ng-repeat="track in notification.tracks">
                    <a href="track/{{track.id}}" ng-click="go('/track/'+track.id);">{{track.title}}</a> ({{track.languages.join(', ')}})
                  </div>
                </td>
                <td><a href="album/{{notification.tracks[0].parent_id}}" ng-click="go('/album/'+notification.tracks[0].parent_id);">{{podcast.title}}</a></td>
                <td>{{notification.scheduledTime | _locals:init.translation['iso-639-1']:'{d}. {SHORTMONTH} {yyyy} - {HH}:{mm}'}} <span ng-if="notification.graceTimeWasUsed">(+{{graceTime}} minutes)*</span></td>
              </tr>
            </tbody>
        </table>

        <p style="font-style: italic;">* Grace time was used and added to the scheduled time</p>
    </div>

    <h4><span class="glyphicon glyphicon-exclamation-sign"></span> Information</h4>
    <ul>
        <li>There is a grace time implemented to avoid sending notifications right away without checking the informations. Even though the published_at value is in the past, the notification will be sent after the grace time, which we have set on {{graceTime}} minutes, from the moment it is published. If published_at value is in the future, the notification will be sent at that datetime.</li>
        <li>In addition, we have another variable called batchPeriod = {{batchPeriod}} minutes, which is the period we check for other tracks from the same podcast. To make this more clear, if the publish date of the first track it's, let's say, at 10:00 and to a second track on 10:50, then the notification will be sent at 10:50.</li>
    </ul>
</div>

<br>

<h3>Custom notifications</h3>
<h4>If you want to send a custom notification then go to <a href="custom-notifications" ng-click="go('/custom-notifications')">this page</a>.</h4>
