
<div class="bmm-floatbox">

	<div>
		Her kan du administrere tilgang og rettigheter for brukerne som skal jobbe med BMM Backend
	</div>

	<div>
		<input type="text" ng-model="newUser">
		<button ng-click="addUser()">Legg til bruker</button> (Identisk brukernavn som fra portalen)
	</div>

	<div>
		<button ng-click="save()">Lagre endringer</button>
	</div>

</div>

<div class="bmm-playlist">
	<table>
		<thead>
			<tr>
				<th><b>Navn</b></th>
				<th>Album</th>
				<th>Spor</th>
				<th>Brukere</th>
				<th>Hovedadministrasjon</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr style="color: #333!important;" ng-repeat="user in users" ng-class="{even: $even, odd: $odd}">
				<td><b>{{user.name}}</b></td>
				<td><input type="checkbox" ng-model="user.ROLE_ALBUM_MANAGER"></td>
				<td><input type="checkbox" ng-model="user.ROLE_TRACK_MANAGER"></td>
				<td><input type="checkbox" ng-model="user.ROLE_CONTRIBUTOR_MANAGER"></td>
				<td><input type="checkbox" ng-model="user.ROLE_ADMINISTRATOR"></td>
				<td><button ng-click="deleteUser($index);">Slett bruker</delete></td>
			</tr>
		</tbody>
	</table>
</div>