<ul class="menu">
    <li>
        <a ng-class="{ active: !isCustom}" ng-href="#" ng-click="showFraKaareView()">{{init.translation.statistic.fromKaare}}</a>
    </li>
    <li>
        <a ng-class="{ active: isCustom}" ng-href="#" ng-click="showCustomView()">{{init.translation.statistic.others}}</a>
    </li>
    <ul />


    <div id="stats" class="frontend">
        <div ng-if="!isCustom">
            <div>
                <div>
                    <div>
                        <canvas id="fraa_kaareList_byDate"></canvas>
                    </div>
                    <div>
                        <canvas id="fraa_kaareList_listenByDay"></canvas>
                        </canvas>
                    </div>
                    <div>
                        <canvas id="fraa_kaareList_bestTracks">
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="isCustom">
            <div>
                <br />
                <form>
                    <input ng-model="searchTerm" type="text" placeholder="Id / ShareLink / Searchterm" />
                    <button type="submit" ng-click="updateChartData()">{{init.translation.statistic.add}}</button>
                    <button type="button" ng-click="clearCharts()">{{init.translation.statistic.clearChart}}</button>
                </form>
                <br />
            </div>
            <div>
                <div>
                    <canvas id="custom_view"></canvas>
                    <br />
                </div>
                <div>
                    <canvas id="custom_bestTrack"></canvas>
                    <br />
                </div>
                <div>
                    <canvas id="custom_listenByDay"></canvas>
                    <br />
                </div>
            </div>


        </div>