<div class="foldbox">
    <div class="header"
         ng-click="show=!show"
         ng-init="show=true">
        <h3>{{translation.page.album.mainSettings}}</h3>
    </div>
    <div class="body" ng-class="{'visible': show}">
        <div style="float: left">
            {{translation.page.album.bmmId}}<br>
            <input ng-model="mainSettings.bmmId"><br>
            {{translation.page.album.publishDate}}<br>
            <input bs-datepicker data-autoclose="1"
                   data-date-format="dd.MM.yyyy"
                   min-view="date"
                   ng-model="mainSettings.publishDate"
                    ><br>
            <input bs-timepicker data-autoclose="1"
                   data-time-format="HH:mm"
                   ng-model="mainSettings.publishTime"
                    >
        </div>
        <div class="cover">
            <div class="new"></div>
            <div class="trash"></div>
            <img ng-src="{{null | bmmCover:'album'}}">
            <div class="progress" style="width:0"></div>
        </div>
    </div>
    <div class="footer">

    </div>
</div>