<div class="bmm-floatbox">

	<div class="bmm-size-full">
		{{translation.backend.lastEditBy}}:
	</div>

	<div class="bmm-float-right bmm-no-padding">
		<div class="bmm-information">{{information}}</div>
		<button ng-click="delete()">{{translation.backend.delete}}</button>
		<button ng-click="save()">{{translation.backend.save}}</button>
	</div>

	<div class="bmm-size-full">
		<input class="bmm-input-title"
			   ng-model="title"
			   ng-change="change()"
			   placeholder="{{translation.backend.trackTitle}}"
			   >
	</div>

	<div ng-controller="ImageUploaderCtrl" class="bmm-album-image">
		<input type="file" ng-file-select><button ng-click="removeCover()">{{translation.backend.delete}}</button>
		<img src="{{coverImage | bmmCover:type}}" width="100%" height="100%"></img>
	</div>

	<div>
		<b>{{translation.backend.publishdate}}</b><br>

		<input class="bmm-size-medium"
			   type="text"
			   bs-datepicker
			   data-date-format="dd.MM.yyyy"
			   data-autoclose="1"
			   min-view="date"
			   ng-model="datePublished"
			   ng-change="change()"
			   placeholder="{{translation.backend.chooseDate}}"
			   ><br>

		<input class="bmm-size-medium"
			   type="text"
			   bs-timepicker
			   data-time-format="HH:mm"
			   data-autoclose="1"
			   ng-model="datePublished"
			   ng-change="change()"
			   placeholder="{{translation.backend.chooseTime}}"
			   >
	</div>

	<div>
		<b>{{translation.backend.recordDate}}</b><br>

		<input class="bmm-size-medium"
			   type="text"
			   bs-datepicker
			   data-autoclose="1"
			   data-date-format="dd.MM.yyyy"
			   min-view="date"
			   ng-model="dateRecorded"
			   ng-change="change()"
			   placeholder="{{translation.backend.chooseDate}}"
			   ><br>

		<input class="bmm-size-medium"
			   type="text"
			   bs-timepicker
			   data-time-format="HH:mm"
			   data-autoclose="1"
			   ng-model="dateRecorded"
			   ng-change="change()"
			   placeholder="{{translation.backend.chooseTime}}"
			   >
	</div>

	<div>
		<b>{{translation.backend.language}} ({{language}})</b><br>
		<select ng-model="language"
				class="bmm-size-medium"
				ng-change="languageSelect()"
				ng-options="option.value as option.name for option in translations">
		</select><br>
		<select class="bmm-size-medium"
				ng-model="visible"
				ng-change="change()">
			<option value="true">{{translation.backend.published}}</option>
			<option value="false">{{translation.backend.notPublished}}</option>
		</select><br>
		<input type="submit"
			   ng-click="removeLanguage()"
			   value="{{translation.backend.removeTranslation}}"
			   ng-disabled="languageDisableEdit"
			   class="bmm-size-medium"
		/><br>
		<input type="submit"
			   ng-click="setOriginal()"
			   value="{{translation.backend.chooseAsOriginalLanguage}}"
			   ng-disabled="languageDisableEdit"
			   class="bmm-size-medium"
		/>
	</div>

	<div>
		<b>{{translation.backend.languagesAvailable}}</b><br>
		<select ng-model="available"
				class="bmm-size-medium"
				ng-options="option.value as option.name for option in availables">
		</select><br>
		<input class="bmm-size-medium"
			   type="submit"
			   ng-click="addLanguage()"
			   value="{{translation.backend.addLanguage}}"/>
	</div>

	<div>
		<b>{{translation.backend.publishTrack}}</b><br>
		<select class="bmm-size-medium"
				ng-model="published"
				ng-change="change()">
			<option value="true">{{translation.backend.published}}</option>
			<option value="false">{{translation.backend.notPublished}}</option>
		</select>
	</div>

	<div class="bmm-border"></div>

	<div class="bmm-size-full">
		<div ng-controller="TrackUploaderCtrl">
			<b>{{translation.backend.files}}</b> {{progress}}<br>
			<input type="file" ng-file-select>
		</div>
	</div>

	<div>
		<ul ng-repeat="type in media">
			<li ng-repeat="file in type.files">
				<b>{{translation.backend.duration}}:</b> {{file.duration}}<br>
				<b>{{translation.backend.mimeType}}:</b> <a ng-href="{{file.path | bmmFilePath}}">{{file.mime_type}}</a><br>
				<b>{{translation.backend.size}}:</b> {{file.size}}<br>
				<b>{{translation.backend.type}}:</b> {{type.type}}<br>
				<button ng-click="removeFile($parent.$index,$index);">{{translation.backend.delete}}</button>
				<button ng-click="play(file, type.type);">{{translation.backend.play}}</button>
			</li>
		</ul>
	</div>

	<div class="bmm-border"></div>

	<form class="bmm-size-full">
		<div>
			<b>{{translation.backend.tags}}</b> ({{translation.backend.englishOnly}})<br>
			<input ng-model="tag" type="text" typeahead="tag for tag in tagSuggestions | filter:$viewValue | limitTo:8" class="bmm-suggestions"/>
			<input type="submit" ng-click="addTag(tag);" value="{{translation.backend.add}}">
		</div>
	</form>

	<div>
		<ul>
			<li ng-repeat="tag in tags">
				{{tag}}
				<button ng-click="removeTag($index);">{{translation.backend.delete}}</button>
			</li>
		</ul>
	</div>

	<div class="bmm-border"></div>

	<div class="bmm-float-right bmm-no-padding">
		<div class="bmm-information">{{information}}</div>
		<button ng-click="save()">{{translation.backend.save}}</button>
	</div>

	<div>
		<b>{{translation.backend.type}}</b><br>
		<select ng-model="type"
				class="bmm-size-medium"
				ng-change="typeSelect()"
				ng-options="option.value as option.name for option in types">
		</select>
	</div>

	<!-- RELATIONS BELOW -->

	<div class="bmm-size-full">

	    <!-- SONGBOOK -->
		<div class="bmm-size-full"
			 ng-show="type=='song'||type=='singsong'">

			<form class="bmm-size-full">
				<h3 class="bmm-size-full">{{translation.backend.songbookAndNumber}}</h3>
				<input placeholder="{{translation.backend.songbook}}" ng-model="songbook.name" type="text" typeahead="songbook for songbook in songbookSuggestions | filter:$viewValue | limitTo:8"/>
				<input placeholder="{{translation.backend.number}}" ng-model="songbook.id" type="text"/>
				<input type="submit" ng-click="addSongbook(songbook);" value="{{translation.backend.add}}">
			</form>

			<ul style="float: left;">
				<li ng-repeat="songbook in songbooks">
					{{songbook.name}} {{translation.backend.nr}} {{songbook.id}}
					<button ng-click="removeSongbook($index);">{{translation.backend.delete}}</button>
				</li>
			</ul>
			<div class="bmm-border"></div>
		</div>

	    <!-- NAMES / INTERPRETS -->
		<div class="bmm-size-full"
			 ng-show="type=='song'||type=='speech'||type=='exegesis'">
			
			<form class="bmm-size-full">
				<h3 class="bmm-size-full">{{translation.backend.performer}}</h3>
				<input ng-model="interpret" type="text"/>
				<input type="submit" ng-click="addInterpret(interpret);" value="{{translation.backend.add}}">
			</form>

			<ul style="float: left;">
				<li ng-repeat="interpret in interprets">
					{{interpret}}
					<button ng-click="removeInterpret($index);">{{translation.backend.delete}}</button>
				</li>
			</ul>

			<div class="bmm-border"></div>
		</div>

		<!-- COMPOSERS -->
		<div class="bmm-size-full"
			 ng-show="type=='song'">
			
			<form class="bmm-size-full">
				<h3 class="bmm-size-full">{{translation.backend.composer}}</h3>
				<input ng-model="composer" type="text"/>
				<input type="submit" ng-click="addComposer(composer);" value="{{translation.backend.add}}">
			</form>

			<ul style="float: left;">
				<li ng-repeat="composer in composers">
					{{composer}}
					<button ng-click="removeComposer($index);">{{translation.backend.delete}}</button>
				</li>
			</ul>
			<div class="bmm-border"></div>
		</div>

		<!-- LYRICS -->
		<div class="bmm-size-full"
			 ng-show="type=='song'||type=='audiobook'">

			<form class="bmm-size-full">
				<h3 class="bmm-size-full">{{translation.backend.lyricist}}</h3>
				<input ng-model="lyricist" type="text"/>
				<input type="submit" ng-click="addLyricist(lyricist);" value="{{translation.backend.add}}">
			</form>

			<ul style="float: left;">
				<li ng-repeat="lyricist in lyricists">
					{{lyricist}}
					<button ng-click="removeLyricist($index);">{{translation.backend.delete}}</button>
				</li>
			</ul>
			<div class="bmm-border"></div>
		</div>

		<!-- BIBLE VERSES -->
		<div class="bmm-size-full bmm-bible-verse"
			 ng-show="type=='speech'||type=='audiobook'||type=='video'">

			<h3 class="bmm-size-full">{{translation.backend.bibleVerse}}</h3>
			<b>{{translation.backend.start}}:</b> {{timeStarted | bmmTime}}
			<b>{{translation.backend.end}}:</b> {{timeCurrent | bmmTime}}
			<b>{{translation.backend.duration}}:</b> {{timeCurrent | bmmTime}}

			<button ng-show="isPaused" ng-click="record()">{{translation.backend.record}}</button>
			<button ng-hide="isPaused" ng-click="pause()">{{translation.backend.pause}}</button>
			<button ng-click="resetTimer()">{{translation.backend.reset}}</button>

			<br><br>

			<button ng-click="addVerse()">{{translation.backend.add}}</button><br>
			<b>{{translation.backend.functions}}: : - + & ,</b>
			<br>
			<b>{{translation.backend.ex}}:</b> 1 Joh 5, 1-5 + 9

			<ul>
				<li ng-repeat="bible in bibles" ng-controller="TrackBibleCtrl">
					<input ng-model="bible.raw" type="text"/><input type="text" ng-model="bible.time"/><input ng-model="bible.note" type="text" placeholder="{{translation.backend.note}}"/><button ng-click="removeVerse($index)">{{translation.backend.delete}}</button>
					<div class="bmm-bible-book" ng-repeat="book in bible.filtered">
						<p>{{book.name}}</p>
						<div ng-repeat="chapter in book.chapters">
							<p>{{chapter.number}}</p>
							<div class="bmm-bible-chapters" ng-repeat="verse in chapter.verses">
								<p>{{verse}}</p>
							</div>
						</div>
					</div>
				</li>
			</ul>
			<div class="bmm-border"></div>
		</div>

	</div>

</div>