<h3>{{init.translation.page[type].title}}</h3>
<div class="foldbox">
<h3>{{init.translation.page.editor.active}}</h3>
  <ul
    ui-sortable="sortableOptions"
    ng-model="activeItems">
    <li ng-repeat="item in activeItems" style="background-color: white;">
      <div style="height: 50px" class="foldbox">
        <h3 style="display: inline;">{{getTitle(item)}}</h3>
        <div ng-click="deactivateTrackList(item)" style="float:right; margin: 10px">
          <a style="font-size: 1.7em; color: red">
            <span class="glyphicon glyphicon-remove"></span>
          </a>
        </div>

        <div style="float:right; margin: 10px">
          <a style="font-size: 1.7em; color: grey" class="sort_handle">
            <span class="glyphicon glyphicon-sort"></span>
          </a>
        </div>

        <div ng-click="go('/'+type+'/' + item.id)" style="float:right; margin: 10px">
          <a style="font-size: 1.7em; color: black">
            <span class="glyphicon glyphicon-edit"></span>
          </a>
        </div>
      </div>
    </li>
  </ul>
</div>
<div class="foldbox">
  <h3>{{init.translation.page.editor.available}}</h3>
  <ul>
    <li ng-repeat="item in availableItems" style="background-color: white;">
      <div style="height: 50px" class="foldbox">
        <h3 style="display: inline;">{{getTitle(item)}}</h3>
        <div ng-click="deleteTrackList(item)" style="float:right; margin: 10px">
          <a style="font-size: 1.7em; color: red">
            <span class="glyphicon glyphicon-remove"></span>
          </a>
        </div>

        <div ng-click="activateTrackList(item)" style="float:right; margin: 10px">
          <a style="font-size: 1.7em; color: green">
            <span class="glyphicon glyphicon-plus"></span>
          </a>
        </div>

        <div ng-click="go('/'+type+'s/' + item.id)" style="float:right; margin: 10px">
          <a style="font-size: 1.7em; color: black">
            <span class="glyphicon glyphicon-edit"></span>
          </a>
        </div>
      </div>
    </li>
  </ul>
</div>

<button ng-click="save()">{{init.translation.page.editor.save}}</button>

<button ng-click="createNewTrackList()">{{init.translation.page[type].createNew}}</button>

<span ng-include="'views/pages/podcast.html'" ng-controller="PodcastCtrl"></span>
