<div class="foldbox">
    <div class="header"
         ng-click="_user=!_user"
         ng-init="_user=true">
    </div>
    <div class="body" ng-class="{'visible': _user}">

        <ul>
            <h4>{{init.translation.page.contributors.search}}</h4>
            <input type="text" ng-model="userSearch">
        </ul>

        <table class="sideways-header" style="width: 100%">
            <tr class="sideways-header">
                <th style="min-width: 200px">{{init.translation.page.contributors.name}}</th>
                <th>{{init.translation.page.users.albumManager}}</th>
                <th>{{init.translation.page.users.trackManager}}</th>
                <th>{{init.translation.page.users.contributorManager}}</th>
                <th>{{init.translation.page.users.podcastManager}}</th>
                <th>Playlists</th>
                <th>Downloader</th>
                <th>Transcriptions</th>
                <th>{{init.translation.page.users.notificationManager}}</th>
                <th>{{init.translation.page.users.featurePreview}}</th>
                <th>{{init.translation.page.users.liveManager}}</th>
                <th>{{init.translation.page.users.allRights}}</th>
            </tr>
            <tr ng-repeat="user in searchResults">
                <td>
                    {{user.id}}
                </td>
                <td>
                    <input type="checkbox" ng-model="user.perm.ROLE_ALBUM_MANAGER" ng-change="updateUser(user, true)">
                </td>
                <td>
                    <input type="checkbox" ng-model="user.perm.ROLE_TRACK_MANAGER" ng-change="updateUser(user, true)">
                </td>
                <td>
                    <input type="checkbox" ng-model="user.perm.ROLE_CONTRIBUTOR_MANAGER" ng-change="updateUser(user, true)">
                </td>
                <td>
                    <input type="checkbox" ng-model="user.perm.ROLE_PODCAST_MANAGER" ng-change="updateUser(user, true)">
                </td>
                <td>
                    <input type="checkbox" ng-model="user.perm.ROLE_PLAYLIST_MANAGER" ng-change="updateUser(user, true)">
                </td>
                <td>
                    <input type="checkbox" ng-model="user.perm.ROLE_DOWNLOADER" ng-change="updateUser(user, true)">
                </td>
                <td>
                    <input type="checkbox" ng-model="user.perm.ROLE_TRANSCRIPTION_MANAGER" ng-change="updateUser(user, true)">
                </td>
                <td>
                    <input type="checkbox" ng-model="user.perm.ROLE_NOTIFICATION_MANAGER" ng-change="updateUser(user, true)">
                </td>
                <td>
                    <input type="checkbox" ng-model="user.perm.ROLE_FEATURE_PREVIEW" ng-change="updateUser(user, true)">
                </td>
                <td>
                    <input type="checkbox" ng-model="user.perm.ROLE_LIVE_MANAGER" ng-change="updateUser(user, true)">
                </td>
                <td>
                    <input type="checkbox" ng-model="user.perm.ROLE_ADMINISTRATOR" ng-change="updateUser(user, true)">
                </td>
            </tr>
        </table>

    </div>
</div>

<div class="controlbar">
    <b>{{init.translation.page.editor.status}}</b>: {{status}}
</div>

<div class="foldbox">
    <div class="header"
         ng-click="_users=!_users">
        <h3>{{init.translation.page.users.adminUsers}}</h3>
        ({{users.length}}<span ng-show="users.length==500">+</span>)
    </div>
    <div class="body" ng-class="{'visible': _users}" ng-init="_users=true">

        <button ng-click="fetchUsers()">
            {{init.translation.page.users.refreshList}}
        </button>

        <table class="sideways-header" style="width: 100%">
            <tr class="sideways-header">
                <th style="min-width: 200px">{{init.translation.page.contributors.name}}</th>
                <th>Made admin</th>
                <th>{{init.translation.page.users.albumManager}}</th>
                <th>{{init.translation.page.users.trackManager}}</th>
                <th>{{init.translation.page.users.contributorManager}}</th>
                <th>{{init.translation.page.users.podcastManager}}</th>
                <th>Playlists</th>
                <th>Downloader</th>
                <th>Transcriptions</th>
                <th>{{init.translation.page.users.notificationManager}}</th>
                <th>{{init.translation.page.users.featurePreview}}</th>
                <th>{{init.translation.page.users.liveManager}}</th>
                <th>{{init.translation.page.users.allRights}}</th>
            </tr>
            <tr ng-repeat="user in users">
                <td>
                    {{user.display_name}} ({{user.id}})
                </td>
                <td>
                    {{user.made_admin_at | date:'dd.MM.yy'}}
                </td>
                <td>
                    <input type="checkbox" ng-model="user.perm.ROLE_ALBUM_MANAGER" ng-change="updateUser(user)">
                </td>
                <td>
                    <input type="checkbox" ng-model="user.perm.ROLE_TRACK_MANAGER" ng-change="updateUser(user)">
                </td>
                <td>
                    <input type="checkbox" ng-model="user.perm.ROLE_CONTRIBUTOR_MANAGER" ng-change="updateUser(user)">
                </td>
                <td>
                    <input type="checkbox" ng-model="user.perm.ROLE_PODCAST_MANAGER" ng-change="updateUser(user)">
                </td>
                <td>
                    <input type="checkbox" ng-model="user.perm.ROLE_PLAYLIST_MANAGER" ng-change="updateUser(user)">
                </td>
                <td>
                    <input type="checkbox" ng-model="user.perm.ROLE_DOWNLOADER" ng-change="updateUser(user)">
                </td>
                <td>
                    <input type="checkbox" ng-model="user.perm.ROLE_TRANSCRIPTION_MANAGER" ng-change="updateUser(user)">
                </td>
                <td>
                    <input type="checkbox" ng-model="user.perm.ROLE_NOTIFICATION_MANAGER" ng-change="updateUser(user)">
                </td>
                <td>
                    <input type="checkbox" ng-model="user.perm.ROLE_FEATURE_PREVIEW" ng-change="updateUser(user)">
                </td>
                <td>
                    <input type="checkbox" ng-model="user.perm.ROLE_LIVE_MANAGER" ng-change="updateUser(user)">
                </td>
                <td>
                    <input type="checkbox" ng-model="user.perm.ROLE_ADMINISTRATOR" ng-change="updateUser(user)">
                </td>
            </tr>
        </table>

    </div>
</div>
