<div class="controlbar">
    <b>{{init.translation.page.editor.status}}</b>: {{status}}
</div>
<div class="foldbox">
    <div class="header"
         ng-click="ready=!ready">
        <h3>{{init.translation.page.editor.waitingsReady}}</h3> ({{waitings.ready.length}})
    </div>
    <div class="body" ng-class="{'visible': ready}">

        <ul class="waitings">
            <li ng-repeat="album in waitings.ready" class="no-hover">
                <div class="foldbox">
                    <div class="header"
                         ng-click="_show=!_show">
                        <h3>{{album.album.title}}</h3> ({{album.tracks.length}})
                    </div>
                    <div class="body" ng-class="{'visible': _show}">

                        <button ng-click="linkWaitings(album.tracks);"
                                style="margin-bottom: .5em;">
                            {{init.translation.page.waitings.linkAllTracks}}
                        </button>

                        <ul class="waitings">
                            <li ng-repeat="track in album.tracks" class="no-hover">
                                <div class="foldbox">
                                    <div class="header"
                                         ng-click="__show=!__show">
                                        <h4>{{track.track.combinedTitle}}</h4>
                                        ({{track.files.length}})
                                    </div>
                                    <div class="body" ng-class="{'visible': __show}">

                                        <button ng-click="go('track/'+track.track.id)">
                                            <a ng-href="track/{{track.track.id}}">
                                                {{init.translation.page.waitings.openTrack}}
                                            </a>
                                        </button>

                                        <img ng-src="{{track.track.cover | _cover}}">
                                        <div>
                                            <span>{{track.track.subtype}}</span>
                                            <span>{{track.track.performers}}</span>
                                        </div>

                                        <ul class="waitings">
                                            <li ng-repeat="file in track.files" style="position: relative">
                                                <div class="flag flags-{{file.language}}" style="float: left;">
                                                </div>
                                                <button ng-click="linkWaiting(file.link, file.track.id, file.language, album, track, $index)"
                                                        style="position: absolute; right: 0">
                                                    {{init.translation.page.waitings.link}}
                                                </button>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
            </li>
        </ul>

    </div>
</div>

<div class="foldbox">
    <div class="header"
         ng-click="conflicts=!conflicts">
        <h3>{{init.translation.page.waitings.conflicts}}</h3> ({{waitings.conflicts.length}})
    </div>
    <div class="body" ng-class="{'visible': conflicts}">

        <ul class="waitings">
            <li ng-repeat="waiting in waitings.conflicts" class="no-hover">
                <ul class="waitings" style="width: 100%">
                    <li class="no-hover">
                        <img ng-src="{{waiting.track.cover | _cover}}">
                        <div>
                            <span><b>{{waiting.track.albumTitle}}</b></span>
                            <div class="flag flags-{{waiting.track.language}}" style="float: left;">
                            </div>
                            <span>{{waiting.track.combinedTitle}}</span>
                            <button ng-click="play(waiting.track)">
                                {{init.translation.page.editor.play}}
                            </button>
                            <span>{{waiting.subtype}}</span>
                            <span>{{waiting.performers}}</span>
                        </div>
                    </li>
                    <li class="no-hover">
                        <span><b>{{init.translation.page.waitings.conflict}}</b>: </span>
                        <button ng-click="play(waiting.conflict)" style="margin-right: .5em">
                            {{init.translation.page.editor.play}}
                        </button>
                        <button>
                            <a ng-href="track/{{waiting.track.id}}">
                                {{init.translation.page.waitings.openTrack}}
                            </a>
                        </button>
                    </li>
                </ul>
            </li>
        </ul>

    </div>
</div>

<div class="foldbox">
    <div class="header"
         ng-click="missingTrack=!missingTrack">
        <h3>{{init.translation.page.editor.missingTrack}}</h3> ({{waitings.missingTrack.length}})
    </div>
    <div class="body" ng-class="{'visible': missingTrack}">

        <ul class="waitings">
            <li ng-repeat="waiting in waitings.missingTrack" class="no-hover">
                <span>{{waiting}}</span>
            </li>
        </ul>

    </div>
</div>

<div class="foldbox">
    <div class="header"
         ng-click="missingAlbum=!missingAlbum">
        <h3>{{init.translation.page.editor.missingAlbum}}</h3> ({{waitings.missingAlbum.length}})
    </div>
    <div class="body" ng-class="{'visible': missingAlbum}">

        <ul class="waitings">
            <li ng-repeat="waiting in waitings.missingAlbum" class="no-hover">
                <span>{{waiting}}</span>
            </li>
        </ul>

    </div>
</div>

<div class="foldbox">
    <div class="header"
         ng-click="wrongId=!wrongId">
        <h3>{{init.translation.page.editor.wrongId}}</h3> ({{waitings.wrongId.length}})
    </div>
    <div class="body" ng-class="{'visible': wrongId}">

        <ul class="waitings">
            <li ng-repeat="waiting in waitings.wrongId" class="no-hover">
                <span>{{waiting}}</span>
            </li>
        </ul>

    </div>
</div>
<div class="controlbar">
    <b>{{init.translation.page.editor.status}}</b>: {{status}}
</div>
