<div ng-controller="MainCtrl">

    <!--LOADINGSCREEN-->
    <div class="loadscreen" ng-hide="load.loaded">
        <div class="logo"></div>
        <div class="progress">
            <div class="buffer"
                 style="width: {{load.percent}}%"></div>
        </div>
    </div>

    <!--HEADER - MUST DUBLICATE IN NAVIGATOR > SUB-HEADER -->
    <header>
        <div class="page-positioning">
            <a ng-href="#" class="logo"></a>
            <div class="dropdown">
                <a class="dropdown-toggle">
                    <div class="flags-{{mediaLanguage}}"></div>
                    {{mediaLanguage | bmmLanguage}}</a>
                <ul class="dropdown-menu">
                    <li ng-repeat="lang in root.languages">
                        <a class="flags-{{lang}}"
                           ng-click="setMediaLanguage(lang);">{{lang | bmmLanguage}}</a>
                    </li>
                </ul>
            </div>
            <div class="search">
                <form ng-submit="go('/search/'+bmm.term);">
                    <input ng-model="bmm.term"
                           type="text"
                           placeholder="{{translation.general.search}}">
                    <input type="submit" value="">
                </form>
            </div>
            <ul class="menu">
                <li><a ng-href="#speeches">{{translation.menu.main.speeches}}</a></li>
                <li><a ng-href="#music">{{translation.menu.main.music}}</a></li>
                <li><a ng-href="#video">{{translation.menu.main.video}}</a></li>
                <li><a ng-href="#audiobooks">{{translation.menu.main.audiobooks}}</a></li>
                <li><a ng-href="#archive">{{translation.menu.main.archive}}</a></li>
            </ul>
        </div>
    </header>

    <!--VIEWER-->
    <div class="page-positioning">
        <div ng-view class="frontend" ng-class="{'visible': visible}"></div>
    </div>

    <!--PLAYER-->
    <div player>

        <div class="videoscreen" ng-show="player.showVideo">
            <div class="page-positioning">
                <div class="videoClose"
                     ng-click="player.showVideo=false"
                     ng-hide="player.video&&!player.showVideo"></div>

                <div class="display">
                    <div class="fullscreen-toggle"></div>
                    <div class="video-target">
                        <div style="position: absolute;
                                    bottom: 0;
                                    width: 100%;
                                    height: 5em;
                                    background: red;"></div>
                    </div>
                </div>
            </div>

        </div>

        <div class="page-positioning">

            <div class="videoOpen"
                 ng-click="player.showVideo=true"
                 ng-show="player.video&&!player.showVideo"></div>

            <div class="about">
                <img ng-src="{{player.cover | bmmCover:'song'}}"/>
                <h3>{{player.title}}</h3>
                <div>{{player.subtitle}}</div>
                <div>{{player.extraTitle | bmmLanguage}}</div>
            </div>

            <div class="options">

            </div>

            <div class="volumeControllers">

                <div class="mute"
                     ng-class="{'active': player.muted}"
                     ng-click="player.setMute();"
                     ng-hide="ios"></div>
                <div class="max"
                     ng-click="player.setVolume(1);"
                     ng-hide="ios"></div>
                <div class="volume" ng-hide="ios"></div>

            </div>

            <div class="mainControllers">

                <div class="current">{{player.currentTime | bmmTime}}</div>
                <div class="remaining">{{(player.getDuration()-player.currentTime) | bmmTime}}</div>

                <div class="centered">
                    <div class="shuffle"
                         ng-class="{'active': playlist.shuffle}"
                         ng-click="playlist.setShuffle();"></div>
                    <div class="previous" ng-click="player.setPrevious();"></div>
                    <div class="play"
                         ng-class="{'pause': player.playing}"
                         ng-click="togglePlay();"></div>
                    <div class="next" ng-click="player.setNext();"></div>
                    <div class="repeat"
                         ng-class="{'active': playlist.repeat}"
                         ng-click="playlist.setRepeat();"></div>

                </div>

                <!--div class="current">{{player.currentTime | bmmTime}}</div>
                <div class="remaining">{{(player.getDuration()-player.currentTime) | bmmTime}}</div-->
                <div class="slider"><div class="target"></div></div>

            </div>

            <div>

            </div>

        </div>
    </div>

    <!--NAVIGATOR-->
    <div class="page-positioning">

        <div ng-click="visible=!visible;"
             class="nav-toggle"
             ng-class="{'fixedSmall':fixedSmall, 'fixed': fixed, 'absolute': absolute, 'visible': visible}"
                ></div>

        <div navigator ng-class="{'fixedSmall':fixedSmall, 'fixed': fixed, 'absolute': absolute, 'visible': visible}">

            <!--SUB-HEADER-->
            <div class="sub-header" ng-class="{'visible': fixed}">
                <a ng-href="#" class="logo"></a>
                <div class="dropdown">
                    <a class="dropdown-toggle">
                        <div class="flags-{{mediaLanguage}}"></div>
                        {{mediaLanguage | bmmLanguage}}</a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="lang in root.languages">
                            <a class="flags-{{lang}}"
                               ng-click="setMediaLanguage(lang);">{{lang | bmmLanguage}}</a>
                        </li>
                    </ul>
                </div>
                <div class="search">
                    <form ng-submit="go('/search/'+bmm.term); visible=false;">
                        <div><input ng-model="bmm.term"
                                    type="text"
                                    placeholder="{{translation.general.search}}"></div>
                        <input type="submit" value="">
                    </form>
                </div>
                <ul class="menu">
                    <li><a ng-href="#speeches" ng-click="visible=false">{{translation.menu.main.speeches}}</a></li>
                    <li><a ng-href="#music" ng-click="visible=false">{{translation.menu.main.music}}</a></li>
                    <li><a ng-href="#video" ng-click="visible=false">{{translation.menu.main.video}}</a></li>
                    <li><a ng-href="#audiobooks" ng-click="visible=false">{{translation.menu.main.audiobooks}}</a></li>
                    <li><a ng-href="#archive" ng-click="visible=false">{{translation.menu.main.archive}}</a></li>
                </ul>
            </div>

            <!--PLAYLIST ETC. -->
            <h2>{{translation.menu.secondary.playlists}}</h2>

            <ul class="playlists-generated">
                <li><a ng-href="#playlist/latest" ng-click="visible=false">{{translation.menu.secondary.latestTracks}}</a></li>
                <li><span ng-click="getCurrent()" ng-click="visible=false">{{translation.menu.secondary.current}}</span></li>
            </ul>

            <button class="playlists-add" ng-click="bmmPlaylistAdd=!bmmPlaylistAdd">
                <span>{{translation.menu.secondary.newPlaylist}}</span>
            </button>

            <ul class="playlists-private">
                <li class="playlists-new" ng-show="bmmPlaylistAdd">
                    <form>
                        <input ng-model="newPlaylist"
                               type="text"
                               placeholder="{{translation.menu.secondary.nameOnPlaylist}}">
                        <input type="submit"
                               value=""
                               ng-click="addPLaylist(newPlaylist);">
                        <button ng-click="bmmPlaylistAdd=false"></button>
                    </form>
                </li>
                <li class="bmm-playlist-private"
                    id="{{collection.id}}"
                    ng-repeat="collection in user.track_collections">
                    <a ng-hide="collection.edit == true"
                       ng-click="$parent.visible=false"
                       ng-href="#playlist/private/{{collection.id}}">
                        {{collection.name}}</a>
                    <form ng-show="collection.edit == true">
                        <input type="text" ng-model="collection.newName"/>
                        <input type="submit" value="" ng-click="renamePlaylist(collection);">
                        <button ng-click="exitRename(collection);"></button>
                    </form>
                    <div ng-hide="collection.edit == true"
                         class="edit"
                         ng-click="collection.edit = true"></div>
                    <div ng-hide="collection.edit == true"
                         class="trash"
                         ng-click="removePLaylist(collection.id);"></div>
                </li>
            </ul>

            <a href="mailto:project-bmm@derhub.de"
               style="margin: 2em 0 0 1.1em;
               float: left;
               font-size: .7em;">Feedback</a>

        </div>

        <div class="background" ng-class="{'visible': visible}"></div>
        <div class="foreground"></div>
    </div>

    <!--BACKGROUND-->
    <div class="background-left"></div>
    <div class="background-right"></div>
</div>