<div ng-controller="MainCtrl" class="client">

    <!--LOADINGSCREEN-->
    <div class="loadscreen" ng-hide="load.loaded">
        <div class="logo" style="position: relative; margin: 3em auto;"></div>
        <div class="progress">
            <div class="buffer"
                 style="width: {{load.percent}}%"></div>
        </div>
    </div>

    <!--HEADER - MUST DUBLICATE IN NAVIGATOR > SUB-HEADER -->
    <header>
        <div class="page-positioning">
            <div class="wrapper">
                <a ng-href="" class="logo"></a>
                <div class="search">
                    <form ng-submit="go('/playlist/search/'+bmm.term);">
                        <input ng-model="bmm.term"
                               type="text"
                               placeholder="{{init.translation.general.search}}">
                        <input type="submit" value="">
                    </form>
                </div>
                <ul class="menu">
                    <li><a ng-class="{ active: isActive('/speeches')}" ng-href="speeches">{{init.translation.menu.main.speeches}}</a></li>
                    <li><a ng-class="{ active: isActive('/music')}" ng-href="music">{{init.translation.menu.main.music}}</a></li>
                    <li><a ng-class="{ active: isActive('/video')}" ng-href="video">{{init.translation.menu.main.video}}</a></li>
                    <li><a ng-class="{ active: isActive('/audiobooks')}" ng-href="audiobooks">{{init.translation.menu.main.audiobooks}}</a></li>
                    <li><a ng-class="{ active: isActive('/archive')}" ng-href="archive">{{init.translation.menu.main.archive}}</a></li>
                    <li class="facebook-icon"><a ng-href="https://facebook.com/bmmbrunstad" target="_blank"></a></li>
                    <li class="twitter-icon"><a ng-href="https://twitter.com/bmmbrunstad" target="_blank"></a></li>
                    <li class="instagram-icon"><a ng-href="https://instagram.com/bmmbrunstad" target="_blank"></a></li>
                </ul>
            </div>
        </div>
    </header>

    <!--PUSH MESSAGES-->
    <div class="push-messages"
         ng-style="{height: pushMessages.length<1 ? '0' : 'auto'}">
        <div class="page-positioning" style="padding: 0 1em;">
            <ul>
                <li ng-repeat="message in pushMessages">
                    <span>{{message.title}}</span>
                    <button ng-click="$parent.pushMessage.message=message; $parent.pushMessage.show=true;">{{init.translation.general.readMore}}</button>
                    <div class="exit" ng-click="removePushMessage($index)"></div>
                </li>
            </ul>
        </div>
    </div>

    <!--VIEWER-->
    <div class="page-positioning" style="z-index: 4">
        <div ng-view class="frontend" ng-class="{'visible': visible}"></div>
    </div>

    <!--PLAYER-->
    <div player>

        <div class="videoscreen" ng-show="player.showVideo">
            <div class="page-positioning">
                <div class="videoClose"
                     title="{{init.translation.notify.hideVideo}}"
                     ng-click="player.showVideo=false"
                     ng-hide="player.video&&!player.showVideo"></div>

                <div class="display">
                    <div class="fullscreen-toggle" title="{{init.translation.notify.showFullscreen}}"></div>
                    <div class="video-target">
                        <div style="position: absolute;
                                    bottom: 0;
                                    width: 100%;
                                    height: 5em;
                                    background: red;"></div>
                    </div>
                </div>
            </div>

        </div>

        <div class="page-positioning">

            <div class="videoOpen"
                 title="{{init.translation.notify.showVideo}}"
                 ng-click="player.showVideo=true"
                 ng-show="player.video&&!player.showVideo"></div>

            <div class="scroller">
                <span><b>{{player.title}}</b> {{player.subtitle}} {{player.extraTitle | _languageCode}} </span>
            </div>

            <div class="about">
                <img ng-click="go('/album/'+player.raw._meta.root_parent_id)"
                     style="cursor:pointer"
                     title="{{init.translation.notify.goToAlbum}}: {{player.formatted.albumTitle}}"
                     ng-src="{{player.cover | _cover:'song'}}"/>
                <h3>{{player.title}}</h3>
                <div>{{player.subtitle}}</div>
                <div>{{player.language | _languageCode}}</div>
            </div>

            <div class="options"
                    title="{{init.translation.notify.options}}"
                    ng-init="flags=false; downloads=false;"
                    ng-model="playerOptions"
                    click-elsewhere="playerOptions=false">

                <div class="optionsToggl"
                     ng-click="playerOptions=!playerOptions; flags=false; downloads=false;"></div>

                <div class="arrow" ng-show="playerOptions"></div>

                <ul ng-show="playerOptions&&!flags&&!downloads">

                    <li ng-click="trackToPlaylist.id=player.id; trackToPlaylist.language=player.language">
                        <div class="icon playlist"></div>
                        <span>{{init.translation.options.addToPlaylist}}</span>
                    </li>
                    <li ng-click="downloads=!downloads"
                        ng-show="!player.formatted.directDownload.exist&&!init.isIOS">
                        <div class="icon download"></div>
                        <span>{{init.translation.options.download}} ({{player.formatted.audios.length+player.formatted.videos.length+player.formatted.unknowns.length}})</span>
                    </li>
                    <li ng-show="!init.isIOS&&player.formatted.directDownload.exist">
                        <div class="icon download"></div>
                        <a download ng-href="{{player.formatted.directDownload.file}}">
                            <span>{{init.translation.options.download}} (1)</span>
                        </a>
                    </li>
                    <li ng-click="share.link=player.formatted.path; share.show=true">
                        <div class="icon no-flag share"></div>
                        <span>{{init.translation.options.share}}</span>
                    </li>
                    <li ng-click="go('/album/'+player.raw._meta.root_parent_id)">
                        <div class="icon album"></div>
                        <span>{{init.translation.options.goToAlbum}}</span></li>

                    <li ng-click="trackInfo.track=player.formatted; trackInfo.show=true;">
                        <div class="icon details"></div>
                        <span>{{init.translation.track.details}}</span>
                    </li>
                    <li ng-click="flags=!flags">
                        <div class="icon settings"></div>
                        <span>{{init.translation.options.changeLanguage}}</span>
                    </li>
                </ul>

                <ul ng-show="playerOptions&&flags">
                    <li ng-repeat="language in player.raw.languages"
                        ng-click="player.changeLanguage(language);">
                        <div class="flags-{{language}}"
                             style="width: 1.6em; height: 1.1em; margin-left: .6em; display: inline-block;">
                        </div>
                        <span>{{language | _languageCode}}</span>
                    </li>
                    <li ng-click="flags=!flags"><div class="icon go-back"></div>
                        <span>{{init.translation.options.goBack}}</span>
                    </li>
                </ul>

                <ul ng-show="playerOptions&&downloads">
                    <li ng-repeat="source in player.source.audios">
                        <a download ng-href="{{source.downloadLink}}">
                            <div class="icon download"></div>
                            <span>{{source.name}}</span>
                        </a>
                    </li>
                    <li ng-repeat="source in player.source.videos">
                        <a download ng-href="{{source.downloadLink}}">
                            <div class="icon download"></div>
                            <span>{{source.name}}</span>
                        </a>
                    </li>
                    <li ng-repeat="source in player.source.unknowns">
                        <a download ng-href="{{source.downloadLink}}">
                            <div class="icon download"></div>
                            <span>{{source.name}}</span>
                        </a>
                    </li>
                    <li ng-click="downloads=!downloads"><div class="icon go-back"></div>
                        <span>{{init.translation.options.goBack}}</span>
                    </li>
                </ul>

            </div>

            <div class="volumeControllers">

                <div class="mute"
                     title="{{init.translation.notify.mute}}"
                     ng-class="{'active': player.muted}"
                     ng-click="player.setMute();"
                     ng-hide="init.isIOS"></div>
                <div class="max"
                     title="{{init.translation.notify.maxVolume}}"
                     ng-click="player.setVolume(1);"
                     ng-hide="init.isIOS"></div>
                <div class="volume" ng-hide="init.isIOS"></div>

            </div>

            <div class="mainControllers">

                <div class="current">{{player.currentTime | _time}}</div>
                <div class="remaining">{{(player.getDuration()-player.currentTime) | _time}}</div>

                <div class="centered">
                    <div class="shuffle"
                         title="{{init.translation.notify.shufflePlaylist}}"
                         ng-class="{'active': playlist.shuffle}"
                         ng-click="playlist.setShuffle();"></div>
                    <div class="previous" title="{{init.translation.notify.previous}}" ng-click="player.setPrevious();"></div>
                    <div class="play"
                         title="{{init.translation.notify.play}}"
                         ng-class="{'pause': player.playing}"
                         ng-click="player.togglePlay();"></div>
                    <div class="next" title="{{init.translation.notify.next}}" ng-click="player.setNext();"></div>
                    <div class="repeat"
                         title="{{init.translation.notify.loopPlaylist}}"
                         ng-class="{'active': playlist.repeat}"
                         ng-click="playlist.setRepeat();"></div>
                    <div class="videoFirst"
                         title="{{init.translation.notify.activateVideo}}"
                         ng-class="{'active': player.videoFirst}"
                         ng-click="player.toggleVideoFirst(); saveSession();"></div>

                </div>

                <!--div class="current">{{player.currentTime | _time}}</div>
                <div class="remaining">{{(player.getDuration()-player.currentTime) | _time}}</div-->
                <div class="slider"><div class="target"></div></div>

            </div>

            <div>

            </div>

        </div>
    </div>

    <!--NAVIGATOR-->
    <div class="page-positioning" style="z-index: 4">

        <div ng-click="visible=!visible;"
             class="nav-toggle"
             ng-class="{'fixedSmall':fixedSmall, 'fixed': fixed, 'absolute': absolute, 'visible': visible}"
                ></div>

        <div navigator ng-class="{'fixedSmall':fixedSmall, 'fixed': fixed, 'absolute': absolute, 'visible': visible}">

            <!--SUB-HEADER-->
            <div class="sub-header" ng-class="{'visible': fixed}">
                <a ng-href="" class="logo"></a>
                <div class="search">
                    <form ng-submit="go('/playlist/search/'+bmm.term); visible=false;">
                        <div><input ng-model="bmm.term"
                                    type="text"
                                    placeholder="{{init.translation.general.search}}"></div>
                        <input type="submit" value="">
                    </form>
                </div>
                <ul class="menu">
                    <li><a ng-class="{ active: isActive('/speeches')}" ng-href="speeches" ng-click="visible=false">{{init.translation.menu.main.speeches}}</a></li>
                    <li><a ng-class="{ active: isActive('/music')}" ng-href="music" ng-click="visible=false">{{init.translation.menu.main.music}}</a></li>
                    <li><a ng-class="{ active: isActive('/video')}" ng-href="video" ng-click="visible=false">{{init.translation.menu.main.video}}</a></li>
                    <li><a ng-class="{ active: isActive('/audiobooks')}" ng-href="audiobooks" ng-click="visible=false">{{init.translation.menu.main.audiobooks}}</a></li>
                    <li><a ng-class="{ active: isActive('/archive')}" ng-href="archive" ng-click="visible=false">{{init.translation.menu.main.archive}}</a></li>
                </ul>
            </div>

            <!--PLAYLIST ETC. -->
            <h2>{{init.translation.menu.secondary.playlists}}</h2>

            <ul class="playlists-generated">
                <li><a ng-href="playlist/latest" ng-click="visible=false">{{init.translation.menu.secondary.latestTracks}}</a></li>
                <li><a ng-href="playlist/mp3kilden" ng-click="visible=false">{{init.translation.page.music.mp3Source}}</a></li>
                <li><a ng-href="playlist/barnasmp3" ng-click="visible=false">{{init.translation.page.music.childrensMp3Source}}</a></li>
                <li><a ng-href="playlist/instrumental" ng-click="visible=false">{{init.translation.page.music.instrumental}}</a></li>
                <li><span ng-click="getCurrent()" ng-click="visible=false">{{init.translation.menu.secondary.current}}</span></li>
                <li><a ng-href="album/90223" ng-click="visible=false">BCCpåskecamp 2015 - Spesial</a></li>
                <li><a ng-href="album/90224" ng-click="visible=false">Påskestevne 2015 - Spesial</a></li>
            </ul>

            <button class="playlists-add" ng-click="bmmPlaylistAdd=!bmmPlaylistAdd">
                <span>{{init.translation.menu.secondary.newPlaylist}}</span>
            </button>

            <ul class="playlists-private">
                <li class="playlists-new" ng-show="bmmPlaylistAdd">
                    <form>
                        <input ng-model="newPlaylist"
                               type="text"
                               placeholder="{{init.translation.menu.secondary.nameOnPlaylist}}">
                        <input type="submit"
                               value=""
                               ng-click="addPLaylist(newPlaylist);">
                        <button ng-click="bmmPlaylistAdd=false"></button>
                    </form>
                </li>
                <li class="bmm-playlist-private"
                    ng-class="{'edited': collection.edit}"
                    id="{{collection.id}}"
                    ng-repeat="collection in init.user.track_collections">
                    <a ng-hide="collection.edit == true"
                       ng-click="$parent.visible=false"
                       ng-href="playlist/private/{{collection.id}}">
                        {{collection.name}}</a>
                    <form ng-show="collection.edit == true">
                        <input type="text" ng-model="collection.newName" ng-init="collection.newName=collection.name"/>
                        <input type="submit" value="" ng-click="renamePlaylist(collection);">
                        <button ng-click="removePLaylist(collection.id);"></button>
                    </form>
                    <div ng-hide="collection.edit == true"
                         class="edit"
                         ng-click="collection.edit = true"></div>
                </li>
            </ul>


            <button class="settings"
                    ng-click="settings.show=true">{{init.translation.general.settings}}</button>

            <a class="settings suport" href="mailto:project-bmm@derhub.de">
                {{init.translation.general.suport}}</a>

            <a href="#/copyright"
               style="  margin: 1em 0;
                        color: black;
                        opacity: .7;
                        width: 100%;
                        float: left;
                        font-size: .8em;">
                © {{init.translation.copyright}} {{now | date : 'yyyy'}}, <br>
                &nbsp&nbsp Stiftelsen Skjulte Skatters Forlag</a>

        </div>

    </div>

    <div ng-include="'views/pages/popup.html'"></div>

    <!--SIZE DETECTOR-->
    <div id="size-detector"></div>
</div>