<!--HEADER - MUST DUBLICATE IN NAVIGATOR > SUB-HEADER -->
<header>
    <div class="page-positioning">
        <div class="logo"></div>
        <div class="dropdown">
            <a class="dropdown-toggle">
                <div class="flags-nb"></div>
                Norsk</a>
            <ul class="dropdown-menu">
                <li>
                    <a class="flags-af">Afrikaans</a>
                </li>
            </ul>
        </div>
        <div class="search">
            <form>
                <input type="text">
                <input type="submit" value="">
            </form>
        </div>
        <ul class="menu">
            <li><a>Client styles</a></li>
            <li><a>Admin styles</a></li>
            <li><a>Common styles</a></li>
        </ul>
    </div>
</header>

<!--VIEWER-->
<div class="page-positioning">
    <div ng-view ng-class="{'visible': visible}"></div>
</div>

<!--PLAYER-->
<div player>

    <div class="videoscreen" ng-show="video">
        <div class="display">
            <div class="video">
            </div>
        </div>
    </div>

    <div class="page-positioning">

        <div class="about">
            <img src="#"/>
            <h3>Dette er en lang tittel ja! -----------</h3>
            <div>Dette er en lang undertittel med beskrivelse</div>
            <div>Her skal dato og språk komme --------</div>
        </div>

        <div class="controllers">
            <div class="time">
                <div class="current">00:00</div>
                <div class="remaining">00:00</div>
                <div class="slider"><div class="target"></div></div>
            </div>
            <div class="main">
                <div class="repeat"></div>
                <div class="previous"></div>
                <div class="play"></div>
                <div class="next"></div>
                <div class="shuffle"></div>

                <div class="mute"></div>
                <div class="volume"></div>
                <a class="download"></a>
                <div class="videoToggle" ng-click="video=!video"></div>

                <div class="scroller">
                    <span>Tittel som ruller ved minified player</span>
                </div>
            </div>
        </div>

    </div>
</div>

<!--NAVIGATOR-->
<div class="page-positioning">

    <div ng-click="visible=!visible;"
         class="nav-toggle"
         ng-class="{'fixedSmall':fixedSmall, 'fixed': fixed, 'absolute': absolute, 'visible': visible}"
    ></div>

    <div navigator ng-class="{'fixedSmall':fixedSmall, 'fixed': fixed, 'absolute': absolute, 'visible': visible}">

        <!--SUB-HEADER - add ng-show="fixed" to always show-->
        <div class="sub-header" ng-class="{'visible': fixed}">
            <div class="logo"></div>
            <div class="dropdown">
                <a class="dropdown-toggle">
                    <div class="flags-nb"></div>
                    Norsk
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="flags-af">Afrikaans</a>
                    </li>
                </ul>
            </div>
            <div class="search">
                <form>
                    <div><input type="text"></div>
                    <input type="submit" value="">
                </form>
            </div>
            <ul class="menu">
                <li><a>Client styles</a></li>
                <li><a>Admin styles</a></li>
                <li><a>Common styles</a></li>
            </ul>
        </div>

        <!--PLAYLIST ETC. -->
        <h2>Spillelister</h2>

        <ul class="playlists-generated">
            <li>a</li>
            <li>b</li>
            <li>c</li>
        </ul>

        <button class="playlists-add" ng-click="newPlaylist=!newPlaylist">
            <span>Ny spilleliste</span>
        </button>

        <ul class="playlists-private">
            <li class="playlists-new" ng-show="newPlaylist">
                <form>
                    <input type="text">
                    <input type="submit" value="">
                    <button ng-click="newPlaylist=false"></button>
                </form>
            </li>
            <li>
                <a>playlist 1</a>
                <div class="edit"></div>
                <div class="trash"></div>
            </li>
            <li>
                <a>playlist 2</a>
                <div class="edit"></div>
                <div class="trash"></div>
            </li>
            <li>
                <a>playlist 3</a>
                <div class="edit"></div>
                <div class="trash"></div>
            </li>
        </ul>

    </div>

    <div class="background" ng-class="{'visible': visible}"></div>
    <div class="foreground"></div>
</div>

<!--BACKGROUND-->
<div class="background-left"></div>
<div class="background-right"></div>