//Playlist
[playlist] {
  width: 100%;
  margin-top: 1.5em;
  .ui-sortable-helper {
    td:last-child {
      position: absolute;
      right: 0;
      top: 0;
      float: none;
    }
    td {
      height: 3.8em;
    }
  }
  .bmm-flag {
    border-radius: .2em;
    margin-top: -.2em;
  }

  tbody:last-child {
    tr:last-child,
    tr:nth-last-child(2),
    tr:nth-last-child(3){
      .options {
        ul {
          bottom: 100%;
          top: auto;
          margin-bottom: .5em;
          margin-top: auto;
        }
        .arrow {
          bottom: 100%;
          top: auto;
          margin-bottom: .25em;
          margin-top: auto;
        }
      }
    }
  }

  tbody:first-child tr:first-child {
    .options {
      ul {
        top: 100% !important;
        bottom: auto !important;
        margin-top: .5em !important;
        margin-bottom: auto !important;
      }
      .arrow {
        top: 100% !important;
        bottom: auto !important;
        margin-top: .25em !important;
        margin-bottom: auto !important;
      }
    }
  }

  .options {
    float: right;
    margin-right: 0;
    ul li span {
      bottom: .4em;
    }
  }

}

[playlist] table {
  width: 100%;
}

[playlist] table td>* {
  float: left;
}

[playlist] table tbody td:last-child .bmm-track-download {
  margin: .3em .2em;
}

[playlist] table tr.head {
  color: $colorPlaceholder;
}

[playlist] table thead tr.title {
  cursor: pointer;
  height: 3.8em;
}

[playlist] table thead tr.title th:last-child {
  background-image: url(../images/common/svg/v3/Icon_Playlist_Plus.svg);
  background-size: 2em 2em;
  background-repeat: no-repeat;
  background-position: right center;
  width: 2em;
}

[playlist] table thead tr.title th h4 {
  font-weight: normal;
}

[playlist] table thead tr.title:hover {
  background-color: #F5F8FA;
  cursor: pointer;
}

[playlist] table tbody tr.head:hover {
  background-color: transparent;
  cursor: default;
}

[playlist] table tr.head th {
  font-weight: bold;
  padding: .5em 0 .5em .5em;
}

[playlist] table tr.head th:first-child {
  padding: 0;
}

[playlist] table tbody td {
  padding: 0 0 0 .5em;
  min-height: 3.8em;
  background-position-x: center;
}
[playlist] table tbody td:first-child {
  position: relative;
  min-width: 2em;
  padding: 0;
  .sort_handle {
    display: none;
    position: absolute;
    background-image: url('../images/common/svg/v3/Drag_Handle.svg');
    background-repeat: no-repeat;
    background-size: 2em 2em;
    top: .9em;
    width: 2em;
    height: 2em;
    cursor: pointer;
  }
  img {
    position: absolute;
    top: .9em;
    width: 2em;
    height: 2em;
  }
}
[playlist] table tbody td.sort:hover {
  .sort_handle {
    display: inline-block;
  }
  img {
    display: none;
  }
}
[playlist] table tbody td:last-child {
  float: right;
}

[playlist] table tbody td.sort_handle {
  width: 100%;
  height: 100%;
}

[playlist] table tbody tr:hover {
  background-color: $colorHover;
  cursor: pointer;
}

[playlist] table tr.head {
  border-bottom: .1em solid $colorBorderLight;
  border-top: .1em solid $colorBorderLight;
}

[playlist] table tbody tr {
  border-bottom: .1em solid $colorBorderLight;
}

.albumOptions {
  width: 2em;
  height: 2.5em;
  margin: 1em .5em 0 .5em;
  padding: .7em 1.3em;
  font-size: 1em;
  .optionsToggl {
    background-image: url(../images/common/svg/v3/Icon_Options.svg);
    background-size: .3em 1.3em;
    background-position: center center;
    border: .2em solid #CCD1CF;
    border-radius: 50%;
  }
  .optionsToggl:hover {
    border-color: #03D67F;
    background-image: url(../images/common/svg/v3/Icon_Options_Hover.svg);
  }
  ul {
    right: -4.5em;
    font-size: 1em;
    li {
      .icon.podcast { background-image: url('../images/common/svg/v3/Icon_Podcast.svg'); }
      span {
        bottom: .3em;
      }
    }
  }
}