div[data-bmm-lib-app] {
  /* prevent user selection */
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* default */
  font-size:13px;
  text-decoration: none;
}

div[data-treeview] ul {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  overflow: hidden;
}

div[data-treeview] li {
  position: relative;
  padding: 0 0 0 20px;
  line-height: 20px;
  white-space: nowrap;
}

div[data-treeview] li .expanded {
  padding: 1px 10px;
  background-image: url("../images/common/treeview/folder.png");
  background-repeat: no-repeat;
}

div[data-treeview] li .collapsed {
  padding: 1px 10px;
  background-image: url("../images/common/treeview/folder-closed.png");
  background-repeat: no-repeat;
}

div[data-treeview] li .normal {
  padding: 1px 10px;
  background-image: url("../images/common/treeview/file.png");
  background-repeat: no-repeat;
}

div[data-treeview] li i, div[data-treeview] li span {
  cursor: pointer;
}

div[data-treeview] li .selected {
  background-color: #aaddff;
  font-weight: bold;
  padding: 1px 5px;
}