//Playlist
[playlist] {
  width: 100%;
  margin-top: 1.5em;
  .ui-sortable-helper {
    td:last-child {
      position: absolute;
      right: 0;
      top: 0;
      float: none;
    }
    td {
      height: 3.8em;
    }
  }
  .bmm-flag {
    border-radius: .2em;
    margin-top: -.2em;
  }

  tbody:last-child {
    tr:last-child,
    tr:nth-last-child(2),
    tr:nth-last-child(3){
      .options {
        ul {
          bottom: 100%;
          top: auto;
          margin-bottom: .5em;
          margin-top: auto;
        }
        .arrow {
          bottom: 100%;
          top: auto;
          margin-bottom: .25em;
          margin-top: auto;
        }
      }
    }
  }

  tbody:first-child tr:first-child {
    .options {
      ul {
        top: 100% !important;
        bottom: auto !important;
        margin-top: .5em !important;
        margin-bottom: auto !important;
      }
      .arrow {
        top: 100% !important;
        bottom: auto !important;
        margin-top: .25em !important;
        margin-bottom: auto !important;
      }
    }
  }

  .options {
    position: relative;
    float: right;
    width: 2em;
    height: 1.9em;
    width: .7em;
    margin: .8em 0 0 .5em;
    background: none;
    text-align: left;
    .optionsToggl {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url(../images/svg/v3/Lists_Options.svg);
      background-size: contain;
      background-repeat: no-repeat;
    }
    .optionsToggl:hover {
      background-image: url(../images/svg/v3/Lists_Options_Hover.svg);
    }
    .arrow {
      position: absolute;
      width: .5em;
      height: .5em;
      background: #ECECEC;
      top: 100%;
      margin-top: .25em;
      right: .15em;
      -webkit-transform: rotate(45deg);
      -ms-transform:rotate(45deg);
      transform:rotate(45deg);
      border-radius: .2em;
    }
    ul {
      background: $colorPopup;
      top: 100%;
      margin-top: .5em;
      right: -.5em;
      position: absolute;
      border: .1em solid $colorBorders;
      border-radius: .3em;
      color: #000;
      z-index: 5;
      li {
        cursor: pointer;
        height: 2.3em;
        padding: .5em 0;
        border-bottom: .1em solid $colorBorders;
        white-space: nowrap;
        a {
          width: 100%;
          height: 100%;
          color: #000;
          display: inline-block;
        }
        .icon {
          display: inline-block;
          background-size: contain;
          background-repeat: no-repeat;
          height: 1.4em;
          width: 1.5em;
          margin: 0 .2em 0 .6em
        }
        .icon.playlist { background-image: url('../images/svg/v3/Icon_Options-Playlist.svg'); }
        .icon.download { background-image: url('../images/svg/v3/Icon_Options-Download.svg'); }
        .icon.album { background-image: url('../images/svg/v3/Icon_Options-Album.svg'); }
        .icon.podcast { background-image: url('../images/svg/v3/Icon_Options-Podcast.svg'); }
        .icon.settings { background-image: url('../images/svg/v3/Icon_Options-Settings.svg'); }
        .icon.delete {
          background-image: url('../images/svg/v3/Icon_Delete.svg');
          background-position: .25em 0;
        }
        span {
          font-size: .9em;
          bottom: .4em;
          position: relative;
          margin-right: .8em;
        }
      }
      li:hover {
        background-color: $colorPopupHover;
      }
      li:first-child {
        border-top-left-radius: .3em;
        border-top-right-radius: .3em;
      }
      li:last-child {
        border-bottom-left-radius: .3em;
        border-bottom-right-radius: .3em;
        border-bottom: none;
      }
    }
  }

}

[playlist] table {
  width: 100%;
}

[playlist] table td>* {
  float: left;
}

[playlist] table tbody td:last-child .bmm-track-download {
  margin: .3em .2em;
}

[playlist] table thead {
  color: $colorPlaceholder;
}

[playlist] table thead th {
  font-weight: bold;
  padding: .5em 0 .5em .5em;
}

[playlist] table thead th:first-child {
  padding: 0;
}

[playlist] table tbody td {
  padding: 0 0 0 .5em;
  min-height: 3.8em;
  background-position-x: center;
}
[playlist] table tbody td:first-child {
  position: relative;
  min-width: 2em;
  padding: 0;
  .sort_handle {
    display: none;
    position: absolute;
    background-image: url('../images/svg/v3/Drag_Handle.svg');
    background-repeat: no-repeat;
    background-size: 2em 2em;
    top: .9em;
    width: 2em;
    height: 2em;
    cursor: pointer;
  }
  img {
    position: absolute;
    top: .9em;
    width: 2em;
    height: 2em;
  }
}
[playlist] table tbody td:second-child {
  padding: 0;
}
[playlist] table tbody td.sort:hover {
  .sort_handle {
    display: inline-block;
  }
  img {
    display: none;
  }
}
[playlist] table tbody td:last-child {
  float: right;
}

[playlist] table tbody td.sort_handle {
  width: 100%;
  height: 100%;
}

[playlist] table tbody tr:hover {
  background-color: $colorHover;
  cursor: pointer;
}

[playlist] table thead tr {
  border-bottom: .1em solid $colorBorderLight;
  border-top: .1em solid $colorBorderLight;
}

[playlist] table tbody tr {
  border-bottom: .1em solid $colorBorderLight;
}

.albumOptions:hover {
  border-color: #03D67F;
}
.albumOptions {
  width: 2em;
  height: 2.5em;
  margin: 1em .5em 0 .5em;
  background: none;
  text-align: left;
  border: .2em solid #CCD1CF;
  border-radius: 50%;
  padding: .7em 1.1em;
  font-size: 1em;
  .optionsToggl {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/svg/v3/Icon_Options.svg);
    background-size: .3em 1.3em;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .optionsToggl:hover {
    background-image: url(../images/svg/v3/Icon_Options_Hover.svg);
  }
  .arrow {
    position: absolute;
    width: .5em;
    height: .5em;
    background: #ECECEC;
    top: 100%;
    margin-top: .25em;
    right: .15em;
    -webkit-transform: rotate(45deg);
    -ms-transform:rotate(45deg);
    transform:rotate(45deg);
    border-radius: .2em;
  }
  ul {
    background: $colorPopup;
    top: 100%;
    margin-top: .5em;
    right: -4.5em;
    position: absolute;
    border: .1em solid $colorBorders;
    border-radius: .3em;
    color: #000;
    font-size: 1em;
    z-index: 5;
    li {
      cursor: pointer;
      height: 2.3em;
      padding: .5em 0;
      border-bottom: .1em solid $colorBorders;
      white-space: nowrap;
      a {
        width: 100%;
        height: 100%;
        color: #000;
        display: inline-block;
      }
      .icon {
        display: inline-block;
        height: 1.5em;
        width: 1.5em;
        margin: 0 .4em 0 .6em
      }
       .icon.no-flag {
         background-size: contain;
         background-repeat: no-repeat;
       }
      .icon.share { background-image: url('../images/svg/v3/Icon_Options_Share.svg'); }
      .icon.playlist { background-image: url('../images/svg/v3/Icon_Options-Playlist.svg'); }
      .icon.podcast { background-image: url('../images/svg/v3/Icon_Podcast.svg'); }
      .icon.settings { background-image: url('../images/svg/v3/Icon_Options-Settings.svg'); }
      span {
        font-size: .9em;
        bottom: .4em;
        position: relative;
        margin-right: .8em;
      }
    }
    li:hover {
      background-color: $colorPopupHover;
    }
    li:first-child {
      border-top-left-radius: .3em;
      border-top-right-radius: .3em;
    }
    li:last-child {
      border-bottom-left-radius: .3em;
      border-bottom-right-radius: .3em;
      border-bottom: none;
    }
  }
}