//***********************************//
//**********bmm-slider-video*********//
$animation-video-speed: 0.7s;
$animation-video-type: ease;

.bmm-slider-video {

  position: relative;
  width: 100%;

  > div.bmm-video-shadow {
    position: relative;
    margin: auto;
    top: 86%;
    width: 45%;
    height: 8%;
    //background-image: url(../images/svg/videoshadow.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }

  > div.bmm-slider-video-prev,
  > div.bmm-slider-video-next {
    position: absolute;
    height: 30%;
    width: 5%;
    left: 0;
    z-index: 10;
  }

  > div.bmm-slider-video-next {
    background-image: url(../images/svg/v3/Icon_Next.svg);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.7;
    right: 9.5%;
    top: 50%;
    margin-top: -1.5em;
    left: auto;
    width: 1.5em;
    height: 3em;
  }

  > div.bmm-slider-video-prev {
    background-image: url(../images/svg/v3/Icon_Prev.svg);
    background-size: contain;
    background-repeat: no-repeat;
    top: 50%;
    margin-top: -1.5em;
    left: 9.5%;
    opacity: 0.7;
    width: 1.5em;
    height: 3em;
  }

  > div.bmm-slider-video-next:hover {
    opacity: 1;
    cursor: pointer;
  }

  > div.bmm-slider-video-prev:hover {
    opacity: 1;
    cursor: pointer;
  }

  > div.bmm-videos > div:hover {
    > div .bmm-slider-video-play {
      background-image: url(../images/svg/v3/Video_Play_Hover.svg);
    }
    cursor: pointer;
  }

  > div.bmm-videos {

    //DEFAULT POSITION (LEFT)
    > div {
      //COMMON SETTINGS
      top: 0;
      position: absolute;
      margin: auto;
      left: 20%;
      width: 60%;
      height: 100%;
      //background-color: black;
      display: none;

      -webkit-transition: all $animation-video-speed $animation-video-type;
      -moz-transition: all $animation-video-speed $animation-video-type;
      -ms-transition: all $animation-video-speed $animation-video-type;
      -o-transition: all $animation-video-speed $animation-video-type;
      transition: all $animation-video-speed $animation-video-type;

      > img {
        position: absolute;
        width: 100%;
        height: 100%;
      }

      > p {
        visibility: hidden;
      }

      > div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: .3em;
        .bmm-slider-video-play {
          position: relative;
          margin: auto;
          margin-top: -2.5em;
          top: 50%;
          width: 5em;
          height: 5em;
          background-image: url(../images/svg/v3/Video_Play.svg);
          background-size: contain;
          background-repeat: no-repeat;
        }
      }

    }

    //LEFT ELEMENT
    > div.left {
      opacity: .5;
      display: block;
      left: 0;//6%;
      top: 10%;
      height: 75%;
      width: 40%;
      .bmm-slider-video-play {
        display: none;
      }
    }

    //ELEMENT IN FOCUS
    > div.middle {
      display: block;
      > p {
        position: absolute;
        text-shadow: 0 0 .1em #000;
        visibility: visible;
        @include gradient(transparent, #000);
        color: #FFF;
        padding: .3em .5em;
        bottom: 0;
        font-size: 1.2em;
        width: 100%;
        text-align: center;
        margin-bottom: 0;
        border-radius: .3em;
        a {
          color: white;
        }
      }
    }

    //RIGHT ELEMENT
    > div.right {
      opacity: .5;
      display: block;
      left: 60%;//44%;
      top: 10%;
      height: 75%;
      width: 40%;
      .bmm-slider-video-play {
        display: none;
      }
    }

  }
}