<ul ng-controller="BmmLatestListCtrl" ng-class="{'small': size == 'small'}" class="bmm-latest-list">
	<li ng-repeat="track in tracks | limitTo:listLength:startIndex"
		class="draggable latest"
		id="{{track.id}}"
		language="{{track.language}}"
		title="{{track.albumTitle}}">
		<div class="bmm-latest" ng-click="play($index);">
			<div class="bmm-latest-bullet">{{getIndex($index)+1}}</div>
			<div>
				<img class="bmm-latest-thumbnail" ng-src="{{track.cover | _cover: trackType}}"/>
			</div>
			<div class="bmm-latest-title">{{track[displays[trackType].title]}}</div>
			<div class="bmm-latest-interprets">{{track[displays[trackType].interprets]}}</div>
		</div>
		<div ng-include="'views/pages/options.html'"></div>
		<div class="flag flags-{{track.language}}"></div>
	</li>
</ul>