<div class="bmm-latest" ng-click="play($index);">
	<div class="bmm-latest-bullet">{{trackNumber}}</div>
	<div>
		<img class="bmm-latest-thumbnail" ng-src="{{track.cover | _cover: type}}"/>
	</div>
	<span ng-switch="track.subtype">
		<span ng-switch-when="song">
			<div class="bmm-latest-title">{{track.title}}</div>
			<div class="bmm-latest-interprets">{{track.performers}}</div>
		</span>
		<span ng-switch-when="speech">
			<div class="bmm-latest-title">{{track.performers}}</div>
			<div class="bmm-latest-interprets">{{track.albumTitle}}</div>
		</span>
		<span ng-switch-when="audiobook">
			<div class="bmm-latest-title">{{track.title}}</div>
			<div class="bmm-latest-interprets">{{track.albumTitle}}</div>
		</span>
	</span>
</div>
<div ng-include="'views/pages/options.html'"></div>
<div class="flag flags-{{track.language}}"></div>